[2013-11-04 15:57] dx7 opened #3 "Count number"
I would like to have the number of elements in a collection.

[2013-11-08 13:45] thiagopnts opened #4 "String encoding problems"
![screen shot 2013-11-08 at 11 22 19 am](https://f.cloud.github.com/assets/322239/1500559/3e3ba99e-487a-11e3-872f-1cb829a30a98.png)

[2013-11-08 13:47] thiagopnts opened #5 "Open .json files"
Would be nice to have .json files highlighted as well

[2013-11-09 01:03] #5 closed, assigned to nobody

[2013-12-06 13:25] rafaelbiriba opened #6 "Json Viewer settings accessible in any corner."
Will be amazing if we can access the settings clicking in an icon in top right corner, for example.

The icon settings can be activated by mouseover event, so the icon will not bother anyone.

[2013-12-08 21:07] #6 closed, assigned to nobody

[2013-12-19 17:28] rafaelbiriba opened #7 "Export the json to public GIST"
Will be amazing if I can click and export the opened json to a public gist.

[2013-12-27 02:24] lucassimon994 opened #8 "Feature Request: Allow users to copy and paste json into a console"
It would be nice to be able to copy and paste json into some sort of console for it to be rendered. For examplle, if I am looking at the **dict** attributes of a python object, it essentially returns a json object.

[2014-01-02 13:04] rafaelbiriba opened #9 "Collapse all nodes"
Hold SHIFT and click in one node to collapse all others at the same level.

[2014-01-03 16:14] #8 closed, assigned to nobody

[2014-01-08 18:52] WizzerWorks opened #10 "Request user documentation"
It is not clear to me how to use this extension. Do you have instructions on how to load a JSON file? I typed in "json-viewer <tab>" in the text field for the Chrome browser. What do I type in next? What are the commands?

I would like to view a file on my file system. Do you have an example on how to do this?

[2014-01-18 11:32] matanster opened #11 "Font"
Works as advertized :)
Can it also use the font shown on the settings page themes (I think it's called comic or something) rather than Chrome's default font? a thicker font is easier for 'glossing-and-fishing' which is what we typically do with json (we don't read json). (I'm a bit reluctant changing my default font in Chrome itself as I can't tell what that will also affect)

[2014-01-18 11:55] matanox opened #12 "Support for 'json log files'"
### Can it also 'do mostly the same' for log files that are structured as a list of (newline delimited) json objects?

I can't imagine this will make the regular case buggy, only seems to require adapting the input size limit enforcement code I believe. Then it would be both a json viewer and json log viewer. Json log files are pretty standard at least in the node.js realm (default in popular node

[2014-01-19 01:56] #10 closed, assigned to nobody

[2014-02-11 02:15] kingjerod opened #13 "New Feature: Area to paste JSON"
I find myself having to copy/paste JSON from places and it would be nice to have a section in the extension for doing this. You can do it currently by typing json-viewer + tab in the Omnibox, then pasting what you want and hitting enter, but having to type json-viewer every time is slow. There is also no way to make a nice bookmark out of it. Just a page in the extension that could be bookmarked,

[2014-02-27 20:36] michabbb opened #14 "Refresh page: scroll position"
when refreshing a page, chrome does no longer remember the last scroll position ;-(

[2014-03-11 03:59] #14 closed, assigned to nobody

[2014-04-03 14:19] rafaelbiriba opened #15 "Can't copy entire json"
When I copy the json, the closed itens still closed in my text editor... So I got something like this:

{ "json1":
       [...],
   "json2":
      [...]
}

[2014-04-06 13:05] ahluntang opened #16 "Replace options with raw link/(un)collapse all"
Right now, when viewing json files, in the right top corner there's a gear icon that links to the options. I can find those options through the extensions page as well (and honestly, I only configure those once, upon first usage), what would be more handy to see at every json file are more context-oriented links, like a link to a raw version of the json (not mangled by the extension) a link to col

[2014-05-16 19:08] gladson opened #17 "Integration with firefox"
It would be great if there is integration with firefox.

[2014-06-26 00:48] ashmind opened #18 "Extension does not work for blob URLs"
If I create an URL dynamically using `URL.createObjectURL`, the extension does not detect JSON when I navigate to it.

Test code:

[code]

See http://jsfiddle.net/fQKYb/.

[2014-06-26 03:20] tulios opened #19 "Some bug with parser"
Failed to parse the content of http://registry.npmjs.org/load-grunt-tasks

The content of that url can be found at https://drive.google.com/file/d/0B-2y3OYXQcabdFpqU0ZLN1d3YnM/edit?usp=sharing

Unknown failure, the background process never finishes. Maybe its related to the content of the key "readme" that holds some markdown with js examples

[2014-06-26 03:25] msletten opened #20 "How do I use Json Viewer in Chrome"
I installed the extension, but I can't figure out anywhere how to actually view the JSON from a url. I'm new to coding, so I know this is probably a dumb question.

[2014-06-26 18:55] #20 closed, assigned to nobody

[2014-07-09 21:35] tulios opened #21 "JSON viewer not rendering JSON data from Open Secrets.org"
*Bug from Chrome Web Store

using an api call from Open Secrets.org, http://www.opensecrets.org/api/?method=getLegislators&id=NJ&apikey=<enterApiKeyHere>&output=json , the resulting JSON is not rendered by JSON viewer. This is proper JSON though, at least according to this verifier: http://jsonlint.com/ Also, the JSON viewer is working for other API calls, such as the one from reddit: http://www.r

[2014-08-01 07:00] ivanlemeshev opened #22 "PHP json_encode support"
I print my data using PHP function json_encode and this extension does not work.

[2014-08-04 14:42] kyro38 opened #23 "URL non clickable when there is no TLD in the domain name."
I working on a local network so we don't use TLD in the domain name for our servers. Therefore the url in our JSON do not contain a TLD.

It seems to be that you rely on that to make text clicable or not.

Imho this should be fixed :)

[2014-08-13 13:56] ygbr opened #24 "UTF-8 Characters"
Hi,

Congrats for this awesome extension.

One problem I have detected is that UTF-8 accentuation is not rendered normally and instead it is escaped as \uXXXX

ex:
[code]

I'm sending the correct encoding on response headers:
Content-Encoding:gzip
Content-Length:54119
Content-Type:application/json; charset=utf-8

Any hints?

![screen shot 2014-08-13 at 10 56 12 am](https://cloud.githubusercontent.

[2014-08-13 14:03] ygbr opened #25 "Show render time / download time / latency on header"
Hi,

I have noticed that for large JSON files it takes a bit for rendering the JSON visualization.

It would be nice to show in the headers the actual time it took to download the JSON so we don't suspect of server issues.

Ex:

On a 53.1Kb JSON File, it took 1.15 sec for the download to take place of this particular JSON but the plugin kept spinning for about 6 seconds... It would be nice to know

[2014-09-23 07:05] l8nite opened #26 "Why does this man not have any beer?"
Seriously, he needs more :beers: for this awesome extension.

[2014-09-29 12:25] EsSpectacularrr opened #27 "No longer working"
https://api.takealot.com/rest/v-1-4-2/productlines?available=1&cat=10371&instock=1&rows=10&sort=score%20desc&start=0

[2014-09-29 13:07] #27 closed, assigned to nobody

[2015-02-06 08:36] gsklee commented on #26
:beer: :beers: :fireworks:

[2015-02-06 08:48] gsklee opened #29 "Not working for my staging server"
The extension is awesome, it works for http://graph.facebook.com/github and other public APIs the like, but when I'm view JSON response from my non-public devbox it's not working at all. Does it rely on something like HTTP headers to get things right?

[2015-02-06 12:23] tulios commented on #29
Hi @gsklee it actually analyses the content to determine if it is a valid JSON or not, could you provide an example of your API output?

[2015-02-07 15:55] Cyberuben opened #30 "Extension not working for large json file"
Hi,

I have a large .json file (641KB) and I noticed that this application will not load it, under any circumstances. I really need to have a visual layout of this massive file and I thought your extension would be the best. I wouldn't mind sending you the file somewhere in private, but as it has information not meant to be completely public, I can't just post it here.

The file comes from a JSON.

[2015-02-07 16:24] tulios commented on #30
Hi, did you increased the kbyte size which the plugin uses to know if it should parse the json? Take a look at issue #27 if you don't know how to change this value.

[2015-02-07 16:24] tulios commented on #30
The default value is 200kb

[2015-02-07 16:25] Cyberuben commented on #30
My bad, I didn't look at that issue as the title was very vague, so I wouldn't have guessed it belonged to my issue. I solved it now, my apologies!

[2015-02-07 16:29] tulios commented on #30
No problem. Thanks for report, this will help other users.

[2015-02-07 16:29] #30 closed

[2015-02-09 02:22] gsklee commented on #29
@tulios Something as simple as this doesn't work:

[code]

[2015-04-14 07:21] DHFW commented on #3
+1

[2015-04-14 07:21] DHFW commented on #9
+1

[2015-04-15 03:46] jamesrom commented on #23
:+1:

Maybe it should use @dperini's [regex-weburl gist](https://gist.github.com/dperini/729294).

See also: [In search of the perfect URL validation regex](https://mathiasbynens.be/demo/url-regex)

[2015-05-07 13:44] nyan-cat opened #31 "Add an option for C-style braces"
Please add an option for C-style object and array braces.

Java-style (current):

[code]

C-style:
[code]

[2015-05-24 22:13] KIVagant opened #32 "Convert JSON results to another format on-the-fly"
Thank you for nice extension.

Please, add a selector for quick converting to another format: for example, XML, Array (```[ 'key' => 'value' ]```).

[2015-05-24 22:14] KIVagant commented on #24
+1

[2015-05-24 22:17] KIVagant opened #33 "Preview / Raw buttons"
Please, add two buttons beside settings button:

[ Preview ] [ Raw ]

First is enabled by default and show current view. Second will show original source.

[2015-05-25 19:14] tulios commented on #32
This is a good idea, I'm planning to finish a new version of this plugin that I started some time ago and include some mechanism to allow plugins, this can definitely be a plugin.

[2015-05-25 19:15] tulios commented on #33
I'm planning to include a button to the original source

[2015-05-25 21:20] KIVagant opened #34 "Show escaped strings as unescaped"
Original json encoded source:

[code]

In extension this string looks escaped too, so I can't copy or click it. Please, show it as decoded.

[2015-06-08 07:00] tulios commented on #34
I will have to think about this problem. I will probably have to decode some strings. Thanks.

[2015-06-08 07:03] tulios commented on #33
I have included a button to toggle highlighted/raw version. Update to version [0.8.0](https://github.com/tulios/json-viewer/tree/0.8.0). Thanks.

[2015-06-08 07:03] #33 closed

[2015-06-08 07:04] tulios commented on #29
Try version [0.8.0](https://github.com/tulios/json-viewer/tree/0.8.0), a lot of bugs were fixed.

[2015-06-08 07:04] #29 closed

[2015-06-08 07:05] tulios commented on #26
Version [0.8.0](https://github.com/tulios/json-viewer/tree/0.8.0) out :beers:

[2015-06-08 07:05] #26 closed

[2015-06-08 07:08] tulios commented on #25
Version [0.8.0](https://github.com/tulios/json-viewer/tree/0.8.0) is out, it is a lot faster than the previous one. I will close this issue but if you try and it's not good enough I can reopen it.

[2015-06-08 07:08] #25 closed

[2015-06-08 07:36] tulios commented on #22
Try version 0.8.0 and check if it works, I have changed the parser.

[2015-06-08 07:36] #22 closed

[2015-06-08 07:36] #21 closed

[2015-06-08 07:36] tulios commented on #19
Fixed in version 0.8.0

[2015-06-08 07:36] #19 closed

[2015-06-08 07:37] tulios commented on #16
In version 0.8.0 when you enable "alwaysFold" it will include a button to unfold everything

[2015-06-08 07:37] #16 closed

[2015-06-08 07:37] tulios commented on #15
Fixed in version 0.8.0

[2015-06-08 07:37] #15 closed

[2015-06-08 07:39] tulios commented on #11
Version 0.8.0 now is completely customizable

[2015-06-08 07:39] #11 closed

[2015-06-08 08:16] tulios commented on #34
I managed to fix this problem. I'll release another version this week.

[2015-06-08 08:16] tulios commented on #24
I managed to fix this problem. I'll release another version this week.

[2015-06-08 08:17] tulios commented on #4
I managed to fix this problem. I'll release another version this week. Related to issue #24 #34

[2015-06-08 17:09] #4 closed

[2015-06-08 17:09] #24 closed

[2015-06-08 17:09] #34 closed

[2015-06-08 19:20] KIVagant commented on #33
Thank you!

[2015-06-08 19:26] KIVagant opened #35 "Little improvement: sort themes in selector by darkness"
Please, divide themes by they backgrounds: dark or light. I never use bright code themes, some people never use a dark one.

[2015-06-08 19:56] #23 closed

[2015-06-09 13:44] tulios opened #36 "Allow search outside of viewport"
The JSON is highlighted just in the viewport area to allow larger files to be loaded and highlighted without delay, but I miss the fact that the search was impacted occurring just in the highlighted area. This must be fixed asap.

[2015-06-09 13:48] tulios opened #37 "Option to skip JSON.parse to allow numbers bigger than Number.MAX_VALUE"
JSON.parse was used to fix some encoding problems but it rounds numbers bigger than Number.MAX_VALUE. Some users have JSON files with numbers bigger than Number.MAX_VALUE (e.g. 80402000000790837 gets rounded to 80402000000790830) and it will be nice for them to have an option to skip JSON.parse and allow these kind of numbers (at least while I find a better way to handle the encode problem)

[2015-06-09 15:10] fbridger commented on #36
The previous version was working just fine. The Search capability is by far the feature I used the most.

[2015-06-09 15:30] tulios commented on #36
I will fix this today

[2015-06-09 23:40] #36 closed

[2015-06-09 23:40] #37 closed

[2015-06-10 23:03] expandrew opened #38 "Add-ons: "awaysFold" and "awaysRenderAllContent" parameters are misspelled"
(just a minor issue — the feature still works, just a typo)

The key names for the features that fold/render all content by default are misspelled.

`aways` should be `always`

:moyai:

[2015-06-10 23:07] tulios commented on #38
Damn! Hauhau now I'll have to support both :D thanks

[2015-06-10 23:35] #38 closed

[2015-06-17 16:43] tulios commented on #5
Just referencing issue #10 here, this question often happens and I should document this better

[2015-06-22 11:47] Wideshanks opened #39 "Failed to load CSS"
The stylesheet doesn't load anymore. Any ideas?

![image](https://cloud.githubusercontent.com/assets/2061925/8281111/ba4c461a-18b2-11e5-8286-3d4521774ed4.png)

[2015-06-22 11:55] tulios commented on #39
Hi @Wideshanks, I will look this today. Could you try to disable/enable the extension again e see if it works (temporarily)? My chrome version is Version 43.0.2357.124 (64-bit), what is yours?

[2015-06-22 11:57] tulios commented on #39
I just notice that the response is an error, I will check this. I believe that it is failing on error responses, I will try to fix it asap.

[2015-06-22 12:00] tulios commented on #39
Errors have anything to do with this bug. I'll keep checking.

[2015-06-23 21:14] neketu opened #40 "URL with IP instead of hostname not clickable"
First, thank you for this great extension. One issue I'm running into:

http://192.1.1.254:8085/api -> non-clickable value

http://myhost.mydomain.com:8085/api -> clickable value

[2015-06-23 21:26] tulios commented on #40
This happen probably because of regexp used [(url-pattern.js)](https://github.com/tulios/json-viewer/blob/master/extension/src/json-viewer/url-pattern.js), I will change it to include this case, Thanks.

[2015-06-25 19:57] #35 closed

[2015-06-25 19:57] #40 closed

[2015-06-25 21:02] tulios commented on #35
![darkness-group](https://cloud.githubusercontent.com/assets/33231/8365551/2f788954-1b64-11e5-95d2-8673b68b7365.png)

great suggestion, thanks! (included in 0.9.0, rolling out)

[2015-06-25 21:06] KIVagant commented on #35
Thank you.

[2015-06-26 13:56] Wideshanks commented on #39
I see the new 0.9.0, with the change to `MAX_WAIT`, but I still have the same behavior.

So I start with a new Chrome profile, only json-viewer 0.9.0 is installed:

![image](https://cloud.githubusercontent.com/assets/2061925/8378041/4c6ed326-1be4-11e5-9948-c91d17d24a59.png)

Chrome version:

![image](https://cloud.githubusercontent.com/assets/2061925/8377950/c1dc0dc8-1be3-11e5-839b-99957ae5490e.pn

[2015-06-26 14:03] tulios commented on #39
Hi @Wideshanks thanks for this great analysis, I will reopen the issue and try to reproduce this bug again

[2015-06-26 14:17] tulios commented on #39
Hey @Wideshanks I finally found the problem, I will release 0.9.1 version. Thanks for your support and patience.

[2015-06-26 14:18] Wideshanks commented on #39
**Well, you replied before I could send this, but here you go anyway**:

Spoke too soon. The version above was paused in the debugger on the first loop. The `content` is empty only for the first attempt (probably the reason you had a loop there to begin with).

If I directly modify the source of the extension to log `content`:

![image](https://cloud.githubusercontent.com/assets/2061925/8379016/28

[2015-06-26 14:26] #39 closed

[2015-06-26 14:29] tulios commented on #39
![picture](https://cloud.githubusercontent.com/assets/33231/8379451/a34eef5c-1bf6-11e5-910c-4b3da11b3098.png)

Thanks again, 0.9.1 rolling out

[2015-06-26 14:33] tulios commented on #39
@Wideshanks about the MAX_WAIT I agree with you, the intention was to be a number of times, the comment I added about the seconds was wrong, I reverted  to 20 attempts and I will change the name of this constant.

[2015-07-03 13:55] mariussoutier opened #41 "Long numbers inside arrays"
Extension doesn't render long numbers correctly.

Try 39977290059340801. In an object, it will be displayed correctly. In an array, it gets rounded down to 39977290059340800.

[2015-07-03 14:04] tulios commented on #41
Nice catch, I'll fix this asap. Thanks.

[2015-07-04 21:57] dperini commented on #23
The gist has been updated:  https://gist.github.com/dperini/729294

[2015-07-05 09:39] #41 closed

[2015-07-05 09:42] tulios commented on #41
I used the solution proposed by @alexlopashev in another extension to wrap the numbers into a string to preserve the precision, I believe this issue now fixed for all scenarios.

[2015-07-05 09:46] tulios commented on #23
Thanks @dperini, regex updated.

[2015-07-05 09:50] tulios commented on #41
Version 0.9.2 rolling out

[2015-07-06 07:22] mariussoutier commented on #41
Looking good, thanks!

[2015-07-06 07:26] mariussoutier opened #42 "Disable integrated search"
Could you please add an option to disable the integrated search? I know it supports regex, but sometimes the Chrome find command is just simpler to use / has better readability.

[2015-07-06 07:27] mariussoutier opened #43 "Theme with smaller font size"
I find the current themes waste too much space. Could you add a theme that is more compact with smaller font sizes? Ideally something that looks like GitHub.

Edit: Just realized you can customize font-size and font-face. Maybe just move the custom styling next to the theming :)

[2015-07-06 07:31] #43 closed

[2015-07-06 16:01] tulios commented on #43
You've probably solved this by your own but I will leave an answer to help others who come here in the future. In JSON Viewer you can customize the themes with your own CSS, actually the font size and family is already outside of theme CSS. In the options page, in the bottom of the page, you will find the __Custom Style__ field, where you can then customize your theme.

![custom-style-pic](https:/

[2015-07-06 16:09] tulios commented on #42
Hi @mariussoutier, you already is able to turn off the custom search, the problem is: to allow big files the plugin doesn't highlight all the content at once, it only highlights the visible part therefore it is impossible to the browser search to find anything that its not rendered. You can enable __ alwaysRenderAllContent__ and then JSON Viewer will render all the content and the custom search wi

[2015-07-06 16:09] #42 closed

[2015-07-10 12:32] mateusdelbianco opened #44 "Scroll to first hit while typing in search box"
While I loved the new search introduced a while back, I'm really missing this feature, which the built-in Chrome search had, that scrolled to the first hit while typing in the search text box.

Keep up the good work! You plugin is amazing :smile:

[2015-07-10 15:43] tulios commented on #44
:+1:  great suggestion!

[2015-07-12 20:09] tulios opened #45 "Customizable whitespace"
Expose `indentUnit` to allow users to configure their own space unit.

As requested in chrome web store:
"The extension could be great if we can use our own whitespace. Maybe 4 spaces or using tabs."

[2015-07-12 20:12] tulios commented on #45
Expose also `tabSize` and `indentWithTabs`

[2015-07-14 18:09] itzg opened #46 "Error "Unexpected token E" when processing numbers with ExponentPart"
When faced with a JSON document that is:

[code]

A `SyntaxError` is reported

[code]

and only a raw rendering of the document is shown. FYI, using `JSON.parse(...)` directly works fine:

[code]

Using:
* Version 0.9.2 of the extension
* Chrome 44.0.2403.81 beta-m (64-bit) on Windows

[2015-07-14 18:10] tulios commented on #46
Really odd, I'll check this up. Thanks!

[2015-07-14 19:11] #46 closed

[2015-07-14 19:13] itzg commented on #46
Awesome. And my beloved number made it into the test data :)

[2015-07-14 19:13] tulios commented on #46
Many thanks :+1: Version 0.9.3 rolling out!

[2015-07-15 14:00] itzg commented on #46
I just confirmed with 0.9.3 that the full document that contained that number is rendering perfectly.

[2015-07-15 14:08] tulios commented on #46
:tada:

[2015-07-28 21:35] tulios opened #48 "Custom search is changing values with the highlight marks"
When you hit enter in the search field it changes some values, especially urls. Someone complained in chrome web store comments but it didn't provided any ways to reproduce the error or be contacted, I think that the reported error is caused by the search.

Search for __com__ in test.json and it should be enough to reproduce the error.

<img width="1030" alt="screen shot 2015-07-28 at 23 28 11" sr

[2015-07-28 21:38] tulios commented on #48
Something related to the quotation marks

[2015-07-28 21:38] tulios commented on #45
I tried all this options, is not that simple...

[2015-08-01 18:17] bronze opened #49 "Indent Guides"
Is this something in the works?
I'd love it.

[2015-08-01 19:10] tulios commented on #49
Hi @bronze, I am not working on this right now but I also desire this feature. I've played a little bit with this feature this week, but I don't have anything solid yet. Maybe soon.

[2015-08-01 19:14] tulios commented on #13
I am working on a scratch pad area, soon we will have this feature.

[2015-08-01 22:35] #13 closed

[2015-08-03 20:32] #45 closed

[2015-08-03 21:03] #31 closed

[2015-08-06 21:35] benhollander opened #50 "Handle JSONP returns that begin with a comment"
Many services, including Google, Facebook, and GitHub return JSONP that begins with a js comment in order to prevent attacks from Rosetta Flash ([reference](https://miki.it/blog/2014/7/8/abusing-jsonp-with-rosetta-flash/)).

Example URL:
https://graph.facebook.com/SOME_ID?method=get&pretty=0&sdk=joey&callback=FB.__globalCallbacks.f1c77f051c

Unfortunately, it looks like json-viewer doesn't detect

[2015-08-07 07:13] #50 closed

[2015-08-07 07:15] tulios commented on #50
I saw this issue at night yesterday and you already fixed it :tada:
Thanks!

[2015-08-10 19:51] tulios opened #52 "Parentheses in array"
From Shuie Yankelewitz (chrome web store support)

"array data that has a parentheses immediately adjacent to text throws an error Error: `contentExtractor: Unexpected token A`"

No Good:
[code]
Good:
[code]

[2015-08-10 20:13] #52 closed

[2015-08-12 14:31] itzg opened #53 "Unexpected token d when parsing one-liner containing "1(2d)""
Sorry for the ultra-specific issue title, but this is some kind of extreme edge case parsing error that I just happened to stumble upon with some of our application data. After narrowing down and scrubbing the content, I was able to recreate this error:

[code]

using this content:

[code]

What's odd though, is if I re-format the JSON in IntelliJ, then json-viewer parses it fine. Here's the re-fo

[2015-08-12 16:18] tulios commented on #53
Thanks @itzg for the debugging, I think that I know what is causing the problem. I will fix this today and release a bug fix version

[2015-08-12 16:27] itzg commented on #53
Cool, thanks

[2015-08-12 17:29] tulios commented on #53
@itzg what version of json-viewer you are using? Version 0.10.2 seems to be working

<img width="287" alt="screen shot 2015-08-12 at 19 29 13" src="https://cloud.githubusercontent.com/assets/33231/9231424/730547c2-4128-11e5-85b9-5f5d060e8f87.png">

json-viewer + TAB + {"a":[{"b":{"c":"1(2d)"}}]} + ENTER

[2015-08-12 18:45] itzg commented on #53
0.10.2 is what I am using at the moment and like you I'm finding that it is working now. I didn't pay attention to the version that it was when submitting the bug...

[2015-08-12 18:55] itzg commented on #53
...I also remembered I restarted my computer since then.

[2015-08-12 18:55] #53 closed

[2015-08-12 19:01] tulios commented on #53
It happens, thanks for reporting! =D

[2015-08-24 07:12] tulios opened #54 "read-only mode allows paste"
From chrome web store, user Amanpreet Singh(TECH - BLR):

"You can paste content when in Read only mode by accident and there is no way to remove it.

I am using it in conjunction with clipboard recorder like alfred. When you select the content to search first of all custom search bar goes away and things gets pasted inside the Json View.

Also custom Search Bar should not go away while i am selec

[2015-08-25 11:12] tulios opened #55 "Option for C-style braces and arrays enabled by default"
Some how the c-style option is enabled by default, it should be disabled by default.

[2015-08-26 06:16] jmjpro opened #56 "What does it mean 'Inspect your json typing "json" in the console'?"
How do we use this feature?

[2015-08-26 06:36] tulios commented on #56
Hi @jmjpro, after loading your json if you open the inspector is possible to "play" with your json through the variable `json`. Check the image:

<img width="758" alt="screen shot 2015-08-26 at 08 34 48" src="https://cloud.githubusercontent.com/assets/33231/9486949/82d21518-4bcd-11e5-99ba-9490ca2d3a83.png">

[2015-08-26 06:44] jmjpro commented on #56
Cool. I was trying to make it work in conjunction with the scratch pad feature. Does that already work?

[2015-08-26 06:47] tulios commented on #56
Unfortunately no, scratch pad allows you to write anything and anything can be an invalid json. However, that's a good feature/idea I would like to have. If the json is valid I can create the variable.

[2015-08-26 19:07] tulios commented on #56
Hey @jmjpro, there is any other dobts regarding the "inspect your JSON" feature? Can I close the issue?

[2015-08-26 19:13] tulios commented on #55
fixed by 8a2222941b02243096ade2d61bd94bd92c0ca995

[2015-08-26 19:13] #55 closed

[2015-08-31 09:07] jmjpro commented on #56
Thanks @tulios Tullios. Closing it.

[2015-08-31 09:07] #56 closed

[2015-09-01 22:13] mazedulislamkhan opened #57 "Not work on localhost"
Hi,
It isn't wokring for me on my localhost development. I'm fetching a JSON result from a 3rd party site, however it's not highlighting the result. It works when it's not on localhost. I tried to enable it from the chrome -> extension options, however I've not find any relevant options on there which enable it for localhost. Is there anything I'm missing?

[2015-09-01 22:17] tulios commented on #57
Hi @mazedulislamkhan, can you try to disable and re-enable the extension? Sometimes chrome mess up with the URL matches.

[2015-09-01 22:27] mazedulislamkhan commented on #57
Hi,
I disabled and re-enabled it, no luck yet. Not sure why it's not working on localhost :/

[2015-09-01 22:31] tulios commented on #57
:/ have you tried another project in localhost? And can you provide an example of the response? Maybe something in the response is crashing the plugin, have you noticed any error in the console?

[2015-09-01 22:43] mazedulislamkhan commented on #57
Hi,
I've now tested with: https://api.github.com/repos/tulios/json-viewer this and it also didn't work. I've ran the result on the Chrome console and there's no error. On chrome console the JSON object is appearing correctly as expected.

Here's a sample result which I hope you find helpful:

{"sid":"SM3942f5f4e06d484ba6c6c567459fa107","date_created":"Thu, 27 Aug 2015 17:41:40 +0000","date_updated

[2015-09-01 22:47] tulios commented on #57
Thanks for the report. One last question, do you have any other json highlighter installed? And if it is the case, can you disable then and try again? Anyway I will test your data, thanks again!

[2015-09-01 22:50] mazedulislamkhan commented on #57
Hi,
I was using a different syntax highlighter. However, it was one of them which I don't like at all. So I removed it today and then I installed yours.

If you find anything helpful for me then please do let me know :)

[2015-09-02 20:29] tulios commented on #57
hey @mazedulislamkhan, I did some tests with your sample data and everything worked as expected. Can you try to reinstall the plugin? (uninstall/install)

localhost examples:
<img width="757" alt="working-example" src="https://cloud.githubusercontent.com/assets/33231/9643413/16761f22-51c2-11e5-98c0-99fd16ef499d.png">

[2015-09-02 20:41] mazedulislamkhan commented on #57
Hi,
Not sure why it's not working on my end then :(

<img width="1392" alt="screen shot 2015-09-03 at 2 40 44 am" src="https://cloud.githubusercontent.com/assets/8946603/9643669/41caf8b4-51e5-11e5-9a51-d4781b86fbe1.png">

[2015-09-02 21:34] tulios commented on #57
@mazedulislamkhan can you check the option `maxJsonSize` in the Add-Ons section, can you try to increase the value? I think that your json is bigger than the default max size.

[2015-09-02 21:36] mazedulislamkhan commented on #57
Already tried that my friend :) no luck.

[2015-09-03 06:20] tulios commented on #57
I really want to help with this problem :)

I'm suspecting that other plugin is changing the basic layout of chrome pages. Json-viewer will only activate in blank templates. Can you try in incognito mode with only json-viewer? And can you provide the page markup? (view page source of the json result page).

[2015-09-06 17:21] #54 closed

[2015-09-09 14:24] mazedulislamkhan commented on #57
Hi,
Apologies for the excessive delay in responding. I've now tested it again using different environment with Laravel and it worked as expected. So previously there must be something that's preventing this. So the issue is now resolved then.

[2015-09-09 14:25] tulios commented on #57
Ok, thanks for reporting.

[2015-09-09 14:25] #57 closed

[2015-09-14 17:27] tulios opened #59 "Doesn't work in iframes"
From chrome web store:

"Works very well when the json's in the main window, but doesn't work in iframes. JSONView Chrome extension has a setting which enables iframes, which suggests that it's not default behaviour. Any chance iframe support could be added?" by Neil Cumpstey

I will check the feature and see how I would enable it.

[2015-09-22 13:50] invegat opened #60 "Doesn't work at all, nothing happens when I open Json files in Chrome"
![image](https://cloud.githubusercontent.com/assets/10525116/10020158/5a2e0c46-610f-11e5-8057-7df2cafe9eab.png)

[2015-09-22 15:21] tulios commented on #60
Hi @invegat can you try to disable/enable the extension and try again.

[2015-09-22 18:46] invegat commented on #60
I did before, but after I tried again and open/closed Chrome it worked!   Thanks!

[2015-09-23 04:50] Coolerfall commented on #60
If the Content-Type is not application/json, it doesn't work yet.

[2015-09-23 07:13] tulios commented on #60
The extension analyses the content to activate, it checks the chrome structure for raw content `body > pre`. It's not based in the Content-Type, I only can imagine that some another plugin has changed the default raw structure, it happened before with other users.

[2015-10-26 21:55] FranciscoG commented on #60
when I view this JSON,  it does nothing:
https://twitchemotes.com/api_cache/v2/subscriber.json

is it working for anyone else?  I have no other formatters installed

[2015-10-26 22:12] tulios commented on #60
Hi @FranciscoG, I checked the URL you provided and it's not formatting due to the JSON size, you can change the option __maxJsonSize__ to 4000, for example. I will create an issue to alert about the size in the console.
<img width="915" alt="screen shot 2015-10-26 at 23 10 26" src="https://cloud.githubusercontent.com/assets/33231/10743993/f666d0ce-7c36-11e5-936b-88ae4cfb50ae.png">
<img width="549"

[2015-10-26 22:20] tulios opened #62 "Alert about JSON size above maxJsonSize"
The option __maxJsonSize__ is causing some confusion, if the JSON has a size above the configured maxJsonSize the content won't be highlighted. This should be notified in the console and maybe a higher default should be assigned, currently the default value is 400kb.

This is related to several other issues
https://github.com/tulios/json-viewer/issues/60#issuecomment-151295617

[2015-10-26 22:23] tulios opened #63 "Option to disable the link parsing"
Requested in chrome store support. As is:

"how to disable link parsing? (so the URL-like strings won't lead to the URL they are referring to) ?" --Lorenzo Fontana

[2015-10-26 22:54] tulios commented on #54
This was fixed here but a fix was provided in CodeMirror 5.6.x https://github.com/codemirror/CodeMirror/commit/0a54ddbc70390dcad5bf3afc408adbf24675294e

just for future reference

[2015-10-27 02:38] FranciscoG commented on #60
@tulios thanks! i figured it might have been the maxSize.  I'll update my options.

[2015-10-27 06:19] #60 closed

[2015-11-02 11:47] luckydonald commented on #9
And ALT to collapse / expland all sub-levels as well.

[2015-12-15 10:11] ivan-radic opened #65 "CTRL+F to start default browser search functionallity"
Hi there, thanks for a great plugin.

Can you add an option to have shortcut CTRL+F start browser built-in functionality? Say CRTL+F for browser search, and CRTL+SHIFT+F for extension enhanced search dialog.

[2015-12-15 10:15] tulios commented on #65
Hi @ivan-radic, there is an option to enable the browser search, can you check in the configurations page and see if it fits your needs?

Thanks!

[2015-12-15 10:20] ivan-radic commented on #65
Thanks for a quick reply.

I did scan options page before coming here, but I did not see such option. I am using version 0.10.3. Do you mind pointing me where that option is? Thanks.

[2015-12-15 10:22] ivan-radic commented on #65
Never mind. I found it, option is called ""alwaysRenderAllContent".

Thanks a lot, you can now close this issue as solved.

[2015-12-15 10:32] tulios commented on #65
Thank you and sorry for the confuse option

[2015-12-15 10:32] #65 closed

[2015-12-18 05:08] hanxue opened #66 "Whitelist sites or check for JSON content"
Is it possible for JSON Viewer to whitelist only certain URLs to activate or alternatively check for valid JSON response before loading the CSS.

The CSS loads on every page. This is slowing down web page loading as well as interfering in web development work.

[2015-12-29 21:12] matanster commented on #12
Still relevant :)

[2015-12-31 23:08] johnruddell opened #67 "JSON path for current selection"
Could we add the current JSON selector for the current cursor position? Meaning

    some_item: [
        {
            id: 1,
            something: something,
            url: https://www.some/url/here.com
        },
        {
            id: 2,
            something: something,
            url: https://www.some/url/here.com
        },
        {
            id: 3,
            something: somethin

[2016-01-18 17:45] tulios commented on #66
Hi @hanxue, sorry for the delay (vacation time :)). Currently it checks the content. Maybe it's a bug, can you share the URL or is something internal? I'll perform a recheck to ensure that the code is correct. Thanks.

[2016-01-18 17:47] tulios commented on #67
That's a good idea

[2016-01-22 23:44] drocsid opened #68 "Doesn't work with files on the local filesystem"
I tried to open a local json file with file:///path/to/object.json . However the extension doesn't seem to parse it. I searched for a similar issue, but was suprised to not find one.

[2016-01-22 23:48] tulios commented on #68
Hi @drocsid thanks for the issue, usually you have to give the extension permission for local files. Can you check issue #10 for more information, you didn't found any other issue related due to different titles.

Thanks!

[2016-01-25 22:23] drocsid commented on #68
@tulios Thanks. Maybe put a mention of this on the README?

[2016-01-25 22:23] #68 closed

[2016-01-30 11:00] likerRr commented on #3
It would be great to see this feature, up!

[2016-02-20 04:12] sandys opened #69 "doesnt work with top level arrays"
[test11.processed.json.gz](https://github.com/tulios/json-viewer/files/138996/test11.processed.json.gz)

works fine on www.jsoneditoronline.org

[2016-02-20 16:45] tulios commented on #69
Thanks @sandys, it's probably a bug. I'll fix it.

[2016-02-23 18:50] barsh opened #70 "feature request: option to hide quotes around key names"
the first is cleaner and more readable than the second:

[code]

[code]

[2016-02-23 19:59] tulios commented on #70
I like the idea!

[2016-02-27 11:34] #63 closed

[2016-02-27 11:38] tulios commented on #62
Implemented here 705e09a6808bd1f1a2a65264661571c45fdbe52d

[2016-02-27 11:38] #62 closed

[2016-02-27 11:40] tulios commented on #69
Hi @sandys , it happens due to the JSON size. Can you check the option maxJsonSize, I increased mine  and it worked. I released a new version (0.11.0) warning about this in the console (issue #62).
Thanks!

[2016-02-27 11:40] #69 closed

[2016-03-10 01:07] benhollander opened #71 "Broken in Chrome 48.0.2564.116?"
It looks like this extension stopped working when Chrome moved all of the extension icons to the toolbar.
Or maybe I missed some step to re-enable it?

[2016-03-10 08:01] tulios commented on #71
Hi @benhollander, I have the same version and it is working well, can you try to disable and enable the extension again? Do you have other JSON highlighter installed?

![screen shot 2016-03-10 at 08 59 47](https://cloud.githubusercontent.com/assets/33231/13662980/b563b93e-e69e-11e5-8d67-b06a32bd6587.png)

[2016-03-10 08:57] tulios opened #72 "Failing to parse https://registry.npmjs.org/react-router"
https://registry.npmjs.org/react-router

error: `Error: contentExtractor: Unexpected token \(…)`

somewhere here: https://github.com/tulios/json-viewer/blob/master/extension/src/json-viewer/content-extractor.js#L17

[2016-03-10 08:59] tulios commented on #72
It might be related to the content present in this response, other resources are working, e.g:

https://registry.npmjs.org/file-loader

[2016-03-10 15:55] benhollander commented on #71
It still doesn't work for me, but when I run it as the only extension enabled, it works.
There must be some other extension interfering (which seems likely, because a couple of other extensions I have don't seem to be working either).

I'll see if I can comb through and tell if there is some common global that should be avoided or something.

[2016-03-15 11:47] tulios commented on #71
Hi @benhollander, do you have any news on this?

[2016-03-16 20:39] #72 closed

[2016-03-21 16:12] benhollander commented on #71
I tried removing/reinstalling and it works now... weird. Not sure what happened.

[2016-03-21 17:10] tulios commented on #71
Chrome probably crashed the background instance when it updated. I'll close the ticket now, thanks for the reporting!

[2016-03-21 17:10] #71 closed

[2016-03-28 12:13] thoka opened #73 "doesnt work on umap responses"
What do I have to do, to enable json-viewer on
http://umap.openstreetmap.fr/en/map/77793/geojson/

[2016-03-29 09:25] beltrachi opened #74 "It captures Alt+Left and Alt+Right history navigation keys"
Hi,

even when it's in readonly mode, it captures navigation shortcuts.

Is there a preference setup to not capture the focus?

Thanks!

[2016-03-29 21:47] tulios commented on #73
I need to investigate more but umap is returning content-type "text/html". I think this is forcing chrome to render the payload in a different way skipping the extension completely. Thanks for your report.

<img width="807" alt="screen shot 2016-03-29 at 23 45 29" src="https://cloud.githubusercontent.com/assets/33231/14124884/5ea17c84-f608-11e5-9e8e-22f13617b27c.png">

[2016-03-29 21:49] tulios commented on #73
I copied the content to a file and it works well, it's probably the content type.

[2016-03-31 16:58] egodsk opened #75 "Boolean different color"
Make it so, you can set a different color for a true or false boolean.

fx.
Boolean: false is red
Boolean true is blue

[2016-04-11 15:02] nnog opened #76 "Add option to set the initial view mode"
It would be nice to have an option to make it start "disabled" where the content is displayed raw, except for the 2 buttons on the right. Exactly as it looks when you click the raw button.
The reason this would be useful is because when you refresh it doesn't stay in the mode you last selected. Perhaps this could also be an additional optional feature too.

[2016-04-11 17:07] tulios commented on #76
Hi @nnog, thats a super requested feature. I'll find some time this week to implement.
Thanks for reporting!

[2016-04-11 17:09] tulios commented on #73
I don't think I have a fix to apply in this case, the response is "text/html" and I don't want the extension trying to find JSON against HTML responses. I found this code in the openstreepmap code I think I'll create a pull request for them changing to "application/json".

[2016-04-11 17:09] #73 closed

[2016-04-11 18:31] #76 closed

[2016-04-13 21:18] hieblmedia opened #77 "Error: contentExtractor: Unexpected token #"
Unexpected token #

For example: https://gist.githubusercontent.com/ahmedeshaan/56f190ae2227c3444dc0/raw/7e72e2f053e0b5779fa9214f10c85f5b380a5245/robots.txt

If the first # changed to another char. The error also occurs with the other char in erros message.

[2016-04-14 06:27] tulios commented on #77
Thanks @hieblmedia. I'll take a look, something looks fishy.

[2016-04-15 21:31] smujmaiku opened #78 "Unexpected String Rendering"
When only a quoted string is parsed some strange errors occur.  Looks like some characters cause new lines and spaces are removed:

Raw View:
[code]

Parsed View:
[code]

[2016-04-20 20:07] paetzy opened #79 "https://public.axdapi.com/d/match/035194c6-c683-40bc-9c5d-a801c577bca8"

[2016-04-21 09:10] tulios commented on #79
Hi, what is the problem with this URL?

![screen shot 2016-04-21 at 11 06 15](https://cloud.githubusercontent.com/assets/33231/14703628/2009fca2-07b1-11e6-9a83-1a83b55ff89c.png)

Can you check the console logs, sometimes the content is bigger than the threshold configured at `maxJsonSize`. You can change this configuration in the options page.

[2016-04-21 09:11] tulios commented on #78
Interesting bug, adding an image to make the bug clear.

![screen shot 2016-04-21 at 11 11 18](https://cloud.githubusercontent.com/assets/33231/14703740/d1de90f0-07b1-11e6-8a00-fd81634239e0.png)

Thanks for reporting.

[2016-04-21 20:14] tulios opened #80 "Configurable size of gear and raw icons"
From chrome web store:

[code]

[2016-04-26 19:15] tulios commented on #80
It's already possible to configure the visual of the elements, just define a custom css in options -> Custom style.

I did some tests using:

[code]

Result:
![screen shot 2016-04-26 at 21 14 27](https://cloud.githubusercontent.com/assets/33231/14830993/e630f89a-0bf3-11e6-9747-240bd2eacab5.png)

Options page -> Custom style:
![screen shot 2016-04-26 at 21 14 16](https://cloud.githubusercontent.com

[2016-04-26 19:15] #80 closed

[2016-05-05 07:49] mehdibahraami opened #81 "This extension may have been corrupted."
Hi,
I need a new custom theme, and go to
`./Library/Application Support/Google/Chrome/Default/Extensions/gbmdgpbipfallnflgajpaliibnhdgobh/0.12.0_0/themes/dark`
when i add a new theme such as other themes i don't see this theme in Extension option and when i changed other existed i give this error:
`This extension may have been corrupted.`

[2016-05-05 11:59] tulios commented on #81
Hi @mehdibahraami, it's not that simple to add a new theme, there are some internals that need to be configured. What do you think about the following options?

1) Switch to the default theme and use the "Custom Style" field to apply your theme, it's possible to override everything through this option. Check the Options page.

2) If the theme is free you can post the style here and I can add to th

[2016-05-05 12:03] tulios commented on #77
The extension is checking if it's a "JSON" if chrome loads the raw content page. The idea of this simple check is to create a lightweight check to stop the extension loading for everything. I will improve this check to verify if it's a JSON, this is tricky because we have JSONP as well. I'll try to fix this soon.

Thanks again.

[2016-05-05 12:04] tulios commented on #78
I think this is related to issue #77

[2016-05-05 12:05] tulios commented on #79
I'll close this issue due to lack of information, feel free to reopen or comment in the future.

Thanks for the report.

[2016-05-05 12:05] #79 closed

[2016-05-06 14:31] heinst opened #82 "Add Dracula Theme"
Hi,

I see you dont have the dracula theme as an option and are using the css files on CodeMirror. There is a Dracula.css on there (https://codemirror.net/theme/dracula.css). Could you add this theme please?

[2016-05-06 15:31] tulios commented on #82
Sure, I can add in the next release. It should be soon.
Thanks!

[2016-05-08 13:51] mehdibahraami commented on #81
Yes, this is my theme.

[2016-05-08 13:52] mehdibahraami commented on #81
Yes, this is my theme.

[code]

[2016-05-08 13:53] #81 closed

[2016-05-08 19:39] #48 closed

[2016-05-08 19:39] #66 closed

[2016-05-08 19:39] #74 closed

[2016-05-08 19:39] #82 closed

[2016-05-08 19:40] tulios commented on #82
I have included a custom version of dracula as well. Nice suggestion!

Original:
<img width="358" alt="screen shot 2016-05-08 at 19 41 04" src="https://cloud.githubusercontent.com/assets/33231/15099959/65f9ccd0-1565-11e6-97de-549d565df8ef.png">

Custom:
<img width="389" alt="screen shot 2016-05-08 at 19 40 47" src="https://cloud.githubusercontent.com/assets/33231/15099960/65fdb886-1565-11e6-96cc-7

[2016-05-08 19:41] tulios commented on #81
<img width="382" alt="screen shot 2016-05-08 at 21 41 36" src="https://cloud.githubusercontent.com/assets/33231/15099971/accb0e62-1565-11e6-902d-d77a5023a638.png">

[2016-05-08 19:43] tulios commented on #48
<img width="964" alt="screen shot 2016-05-08 at 21 43 07" src="https://cloud.githubusercontent.com/assets/33231/15099979/e277ebf2-1565-11e6-9706-9095fa8b9071.png">

[2016-05-08 19:52] tulios commented on #82
Released in version 0.13.0

[2016-05-08 19:52] tulios commented on #81
Released in version 0.13.0

[2016-05-08 19:53] heinst commented on #82
Looks great! Thanks!

[2016-05-08 20:04] mehdibahraami commented on #81
@tulios Thanks Man.

[2016-05-11 20:28] guigs opened #83 "Double dollar "$$" is being converted to one "$""
"$$" is being coverted to "$"

raw:

    [
     {"price_range":2,"label":"$$"},
     {"price_range":3,"label":"$$$"},
     {"price_range":4,"label":"$$$$"}
    ]

output:

[code]

[2016-05-11 21:13] beltrachi commented on #74
Thank you @tulios !!
Great extension!! :+1:

[2016-05-11 21:43] tulios commented on #83
Thanks @guigs.

Just for reference:
![screen shot 2016-05-11 at 23 42 51](https://cloud.githubusercontent.com/assets/33231/15197517/1cbad662-17d2-11e6-8a19-81b351f4f97b.png)

[2016-05-16 18:21] #83 closed

[2016-05-26 20:00] tulios commented on #83
Fix released in version 0.13.1.

Thanks

[2016-05-30 15:57] tommygebru opened #84 "Extension works once?"
Nevermind.... I believe it was just slow to load...

[2016-05-30 16:19] tulios commented on #84
Hi @tommygebru, the extension has a feature which skips the highlight when the JSON payload is greater than a certain value, you can configure the value in the options page. Check the console to see if this is happening to you, I'll include a better interface to notify that, this is causing a lot of confusion.

[2016-05-30 16:23] tommygebru commented on #84
hey! thanks... what is an appropriate amount? should I make it 4000?

[2016-05-30 18:53] tulios commented on #84
It'll really depend on your case, I use 1024 (maybe I should make it the default value). I don't want to highlight huge JSON payloads but 1~4mb should be fine. I'll work to add some alert when the max value is reached.

[2016-05-30 18:53] #84 closed

[2016-05-30 20:48] tulios opened #85 "Better UI notification for content not highlighted due to oversize"
This "alert" tries to mitigate the confusion around the `maxJsonSize` option. The interface should work well with the raw content and it's not selectable.

![screen shot 2016-05-30 at 22 29 53](https://cloud.githubusercontent.com/assets/33231/15658014/a6a4676e-26b7-11e6-9bb6-351a6c7ff911.png)
![screen shot 2016-05-30 at 22 30 01](https://cloud.githubusercontent.com/assets/33231/15658016/ab7ed5ee-2

[2016-05-31 08:48] tulios commented on #85
Version 0.14.0 is released.

[2016-05-31 08:48] #85 closed

[2016-06-06 10:13] #78 closed

[2016-06-06 10:14] tulios commented on #78
This error is fixed in version 0.14.0, thanks for the reporting.

[2016-06-06 10:14] tulios commented on #77
This error is fixed in version 0.14.0, thanks for the reporting.

[2016-06-06 10:14] #77 closed

[2016-06-07 21:15] kevinawoo opened #86 "Always expose window.json"
Is is possible to always expose the `window.json` as the first thing.
If the json is too big, it doesn't get assigned to `window.json`

[2016-06-08 19:03] tulios commented on #86
Hi @kevinawoo, thanks for your time. Like you mention, the plugin skips the export for big jsons because it skips the whole flow, maybe it makes sense to keep the export. I'll give it a thought.

Thanks.

[2016-06-16 11:28] tulios opened #87 "Warning for invalid JSON"
The extension doesn't do anything if the JSON is invalid, a nice idea is to include some warning to avoid confusion.

[2016-06-16 16:07] adamholdenyall opened #88 "Support Hyperlinking Object References"
[Object References in JSON.NET](http://www.newtonsoft.com/json/help/html/preserveobjectreferences.htm)

Would be really handy for complex JSON "$ref" attributes became clickable to direct to the corresponding "$id" attribute.

[2016-06-20 18:46] reece opened #90 "enable multi-level fold/unfold"
In general, I would appreciate options that made it easier to navigate levels of a json document. This functionality would be similar to that in emacs' outline-mode: hide-other, show children, show entry, etc.

When browsing large-ish json files, I prefer to start with a high level view of the first 1 or 2 levels.

Proposal:
* new option: start folded to level n; 0 would be {⇔}; 1 would be {"key1"

[2016-06-23 10:08] kylixd opened #91 "json-viewer won't work for jsonp anymore after last commit"
I've noticed that since the last commit 3 days ago, not a single jsonp is getting formatted, not even the example from the main page: http://freemusicarchive.org/api/get/curators.jsonp?api_key=60BLHNQCAOUFPIBZ&callback=test

[2016-06-23 10:11] tulios commented on #91
Oh, that's true. I've included a better check to avoid unecessary initialization but I missed JSONP. Thanks for the reporting.

[2016-06-24 21:18] JaKXz opened #92 "Safari extension"
Hi, thanks for this awesome extension.

Can I ask for a Safari Extension as well? I'd love to help with this somehow.

[2016-07-04 07:13] #91 closed

[2016-07-04 07:19] tulios commented on #91
Released on version 0.14.2. Thanks again!

[2016-07-04 07:20] tulios commented on #90
I really like this feature, I'll try to reserve some time to give it a try. Thanks

[2016-07-04 07:23] tulios commented on #88
Hi @adamholdenyall, sorry for the long delay in reply, I was on vacation. This is interesting but I think this feature should be a "plugin" for JSON viewer because it is tailored to JSON.NET. It also requires some understanding of the content in order to add this nice relation. Let me think about it. Thanks!

[2016-07-04 07:24] tulios commented on #92
This is aligned with issue #17 and I think it might work with safari. I'll try to book some time to investigate this. Thanks!

[2016-07-19 09:09] vith opened #93 "Right clicking a URL inside a json document acts like a left click"
This makes it difficult to copy a URL to clipboard

[2016-07-19 09:11] tulios commented on #93
The code can be improved to ignore right clicks, thanks!

[2016-07-28 05:04] chrisenytc commented on #92
This a awesome extension, but will be really nice have a safari extension too. 👍

[2016-08-04 11:14] davidkallesen opened #95 "Render Array-Count"
Feature request:

When you have a array of objects, it would be very nice to have a array-count number.

Example something like (marked with bold):
"Data": **(2)** [
    {
      "Name": "Hallo",
      "Name": "World"
    }
]

And collapsed example:
"Data": **(2)** [..]

[2016-08-04 11:17] GertjanRoke opened #96 "JSON is formatted even if "sortKeys" is set to "false""
This is my JSON** and its sorted by name.
I'm getting the following JSON** when I dump it :

[code]

But when I view while using json-viewer I get the following JSON**:

[code]

Is this a bug or was this done on purpuse?

** this is a small part of the original JSON.

[2016-08-04 11:18] davidkallesen commented on #3
+1

[2016-08-05 21:46] kevinawoo opened #97 "Allow `alwaysFold` to accept an integer"
How about allowing `alwaysFold` to accept an integer so it's "always fold levels x deep"?

[2016-08-12 15:26] afinnell opened #98 "Intuitive Response to clicking on JSON Viewer Icon"
Clicking on the _JSON Viewer Extension Icon_ pops up a list of Menu Items. When I click on _JSON Viewer_ I would expect it to take me to the Viewer itself (the extension part), however it takes me to the Github website.

What is the expected User Stories for this extension? This is what I expected:

**1. As a User I want to Format a JSON Object while debugging an application:**
  - Set a breakpoin

[2016-08-13 13:58] tulios commented on #95
It's a valid feature an it is related to issue #3

[2016-08-13 14:00] tulios commented on #97
It's a good idea, there is another issue related to improvements on the folding code (issue #90)

[2016-08-13 14:03] tulios commented on #98
Hi @afinnell, your use case makes complete sense. I usually use the flow navigation bar -> json viewer -> tab -> scratch pad a hundred times a day and sometimes I caught myself clicking on the extension icon as well.

[2016-08-25 16:29] iDentity1337 opened #99 "Weird questionmarks"
![bug](https://cloud.githubusercontent.com/assets/13631879/17977350/b62365d6-6af1-11e6-919c-2f0f69c56335.png)

So, right is Postman's response, left is JSON-Viewer. Other API endpoint shows correctly though, dunno why is this happening. Maybe UTF-8 characters?

[2016-09-02 14:10] funtaps commented on #96
Neither.

JavaScript objects do not guarantee key order (more info gathered at [stackoverflow](http://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order)).

So, there are some cases when you are lucky and key order remains unchanged.
And other cases when key order is changed. That might be javascript-engine dependent.
In v8 (Chrome)
[code]
[code]

There is no good

[2016-09-13 13:35] jarocks opened #102 "JSON not rendering - conflict with ghostery"
I was having issues with the JSON not rendering, even after making sure that file urls were enabled in extensions. After some digging I found that the issue is a conflict with Ghostery.

This is more an issue with their plugin than yours, but I thought it might be good to post anyway for anyone having issues. It adds HTML to the body when it shows it's tracker list, which is what probably causes t

[2016-09-13 13:47] petervtzand commented on #44
or a settings option to disable the built-in search function

[2016-09-15 09:53] rshev opened #103 "Backslashes are stripped"
Hey, backslashes are stripped inside strings when viewing. See screenshots json-viewer vs RAW:

![image](https://cloud.githubusercontent.com/assets/10714746/18545767/72c558d4-7b32-11e6-8ebb-867bea86b157.png)
![image](https://cloud.githubusercontent.com/assets/10714746/18545780/82d2656e-7b32-11e6-9ceb-24bf26b1f825.png)

Is it a known issue?

[2016-09-19 08:03] tulios commented on #99
Weird, I'll take a look. Thanks for reporting

[2016-09-19 08:03] tulios commented on #102
Thank you very much, I'll add this warning to the description page.

[2016-09-19 08:05] tulios commented on #103
The backslashes are being decoded, which is fine in my opinion my I can understand the problem. I'll take a look and see what I can do. Thanks!

[2016-09-19 08:07] tulios commented on #96
Hi @GertjanRoke is exactly how @funtaps described, the extension was relying on a chrome feature that apparently is not in place anymore. I'll take a look and see if I can make this stable.

[2016-09-19 18:48] quartzite7 opened #104 "Viewing arbitrary text-selection as JSON on arbitrary webpage"
Without needing to copy/paste or open a separate tab.

Usage flow:
1) Navigate to a webpage containing multiple isolated JSON strings (textbooks, StakOverflow, presentations, server log files, etc.)
2) Use the mouse to select some text.
3) Right-click to bring up the browser context menu. Similar to AdBlock, there should be a "View JSON" item.
4) Select the "View JSON" menu item.
5) The extension

[2016-09-20 18:09] moshjeier commented on #70
That's not valid JSON though

[2016-09-28 14:39] hughgallagher opened #105 "Chrome extension just points to github?"
If a user install a chrome exension they should see the UI ... but this and other JSON viewers just points to github....how come its so user unfriendly? Where is the UI for the extension?

[2016-09-28 15:03] tulios commented on #105
Hi @hughgallagher, you can take a look here:

https://github.com/tulios/json-viewer/issues/10
https://github.com/tulios/json-viewer/issues/20

[2016-09-29 06:48] mmontag opened #106 "Fold empty objects and arrays to one line"
It would be cool if empty stuff looked like
`{ }`
`[ ]`
instead of
[code]
[code]

[2016-09-29 07:31] tulios commented on #106
Completely agree and this is totally feasible. Thanks!

[2016-10-05 11:56] KIVagant opened #107 "Always show fold/unfold button"
Hello.

I have a big json response that I want to fold. But in all another cases I prefer to see full response without folding. Unfortunately, the "fold/unfold" button appears only if "alwaysFold" option is true.

Please, make the button always visible by default or optionally with related config.

Thank you, this is my favorite browser extension.

[2016-10-06 07:15] tulios commented on #107
I have this problem myself, it's a good idea.

[2016-11-08 08:32] zhoufenfens opened #108 "some page could not be parsed"
hi,thanks for your work on this extensions, it works well usually, but it could not work when it came across some page link [example link](http://106.38.230.147:8080/error/get)

[2016-11-08 09:07] tulios commented on #108
Hi @zhoufenfens, the URL is returning `Content-Type:text/html;charset=UTF-8` that's why the extension is not been activated

[2016-11-11 09:55] batterseapower opened #109 "Support non-standard floating point numbers"
A common extension to the JSON spec is to allow NaN/+inf/-inf to be represented as "bare" literals without any quotes. It would be great if the viewer would recognize this and format them as numbers rather than failing to render a doc that contained them.

[2016-11-11 10:32] anotherdevs commented on #108
Hi

Will it possible to add an option that can enable the extension even if the content-type is not application/json?

Like the now removed extension JSON View.

[2016-11-11 16:02] spstorey opened #110 "Right click performs left click"
Having the option of clickable url is great, so is setting for new tab or not. So I link clickable urls and not open in new tab as when I want to do this I right click on the link and choose from the Chrome menu Open In New Tab but is not an option using this extension as right clicking on a link just performs the left click action. Apart from that it is great.

[2016-11-11 17:54] tulios commented on #110
This is related to issue #93 and I totally agree that this should be improved. Thanks!

[2016-11-11 17:58] tulios commented on #108
This is possible. The only problem I see with this approach is that the extension will try to process all pages and this can introduce some delay in your navigation since it will try to parse every content. Maybe a better solution will be a whitelist, if it is JSON or belongs to this whitelist then the extention can be activate.

What do you think @anotherdevs?

[2016-11-11 17:58] #105 closed

[2016-11-11 18:02] tulios commented on #109
Give me some time to think about this as this introduces more complexity and has the potention to make the extension slower. Currently the extension reprocess the JSON to overcome `Number.MAX_VALUE` and I think it should be similar for the others.

Thanks

[2016-11-11 23:08] batterseapower commented on #109
How about an approach like this: https://gist.github.com/batterseapower/d16c1bf221619ba640c8c0d48d15d61e

I'd submit a PR but your build instructions don't seem to work so I can't test it properly (not your fault - recent npm in macports seems to have some issues)

[2016-11-12 11:13] anotherdevs commented on #108
Hi again

Could be an option - however I will let it be up to your, since you are the expert on this plugin.
The original plugin, JSON View for Chrome, resides here: https://github.com/gildas-lormeau/JSONView-for-Chrome - with this plugin I really didn't notice any lag or delay in navigation. Maybe you can find any hints in the code?

It could be that you'll get a lot more users since his plugin h

[2016-11-13 18:50] alombarte opened #111 "Not parsing valid RFC JSON input"
Hi,

I found that some API responses were not formatting properly, until I found that the root cause. It looks that the extension does not work when there are attributes with `int64`.

The following example is a valid JSON string in the RFC-4627, RFC-7159 and ECMA-404 but it won't render:
[code]
Thanks for this excellent extension.

[2016-11-13 19:23] siamak opened #112 "Add Panda Syntax to themes"
Hi. Please add Panda Syntax theme to JSON viewer themes. I was added this theme to Codemirror. [panda-syntax 'codemirror'](https://github.com/codemirror/CodeMirror/blob/master/theme/panda-syntax.css).

[2016-11-14 06:02] wangbiye opened #113 "Does not support Chinese characters?"

[2016-11-14 08:39] tulios commented on #113
Hi @wangbiye, the extension works with chinese. Can you check this file: https://raw.githubusercontent.com/tulios/json-viewer/master/tests/test.json

![screen shot 2016-11-14 at 09 38 37](https://cloud.githubusercontent.com/assets/33231/20258090/26e82158-aa4e-11e6-8611-4043f9be52af.png)

it might be something else, can you give more details of what is happening?

[2016-11-14 08:40] tulios commented on #112
Sure, it looks super cool.

[2016-11-15 19:27] tulios commented on #111
Hi @alombarte, thanks for the report, I'll take a look.

[2016-11-16 14:37] scudelletti commented on #108
Hi guys,

Since this is based on the `Content-Type` we can hack this behaviour using other extension that can change the response `Content-Type`.

I tried using [ModeHeader extension](https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj) and it worked fine. We can also apply the profile on specific urls due to the `filter` feature.

Here is a screenshot of the usage

[2016-11-17 04:42] zhoufenfens commented on #108
it is great :+1: :clap:

[2016-11-17 04:46] zhoufenfens commented on #108
could the page's font size be changed? i think it is a little big.

[2016-11-17 08:06] bripkens opened #114 "Automatically collapse empty arrays"
First of: Thank you for this extension!

It would be great when the formatted JSON would automatically collapse empty arrays.

<img width="377" alt="screen shot 2016-11-17 at 09 04 42" src="https://cloud.githubusercontent.com/assets/596443/20380897/fbdfeaaa-aca4-11e6-8618-b16b4fb5d053.png">

Expected structure:

[code]

[2016-11-17 08:20] scudelletti commented on #108
The `ModeHeader` extension just change the headers, so you can continue using the `json-viewer` and there you can set the font-size and theme the way you want.

In the end you will end using both extensions at the same time to fix this scenario.

[2016-11-17 12:00] tulios commented on #108
@zhoufenfens as @scudelletti pointed out, in json-viewer you can customize the style

![screen shot 2016-11-17 at 12 58 21](https://cloud.githubusercontent.com/assets/33231/20388546/a489f31a-acc5-11e6-8339-cc52d93f40bf.png)

@scudelletti nice combo, I still think it make sense to add this "whitelist" feature, but this combo sets the matter for now. Thanks!

[2016-11-17 12:02] tulios commented on #114
I completely agree, it's related to issue #106

[2016-11-17 16:48] jimmyko commented on #113
I can confirm that the Chinese can be displayed correctly. I would suggest to add Traditional Chinese in the test as well.

[code]

[2016-11-17 16:59] jimmyko opened #115 "Fold and open all descendants"
I try to look up a large json response which contains a lot of object and found there is no option to close all siblings and only open up all descendants from one of the object. It would be great if I can open or close all descendants which I click the caret with holding "shift" button. What do you think?

[2016-11-17 17:35] tulios commented on #113
Thanks @jimmyko! I'll definitely add them to the test file.

[2016-11-17 17:37] tulios commented on #115
This is a must have, I need to reserve some time to dig into this. There are several other issues related to this, adding here just as a reference: #107 #97 #90 #9

[2016-11-21 06:44] zzjin commented on #108
Same issue here, but do not want to install another plugin to modify header.
may be quickly test a `Content-Type:text/html;charset=UTF-8`'s content first 2 char is `{"` or someting could hadle it

[2016-11-21 10:48] Chehow opened #116 "Array length support"
It would be great to have array length in UI.
Thx for great job!

[2016-11-21 17:10] tulios commented on #116
Related to #95

[2016-11-22 00:28] wangbiye commented on #113
Perhaps the text coding problem.
There is a new problem, it does not work. Is it because the content is too much?
http://serviceyatai.bonapp.cn/search/restaurant/do_search?userIdStr=%2523EDN3ITNzQTO%2523%2523QM5EjN1MjNzQTO3QTM&page=1&longitude=121.457680&latitude=31.212355&lang=1&globalAgentType=1&appVersion=4.8.6&appVersionCode=206&cityId=21&devUuid=520574AF-974D-42CB-8968-A35A5C3760B6&sort=ratin

[2016-11-22 08:07] tulios commented on #113
@wangbiye this URL is returning `Content-Type:text/html;charset=UTF-8`, check issue #108 for more information

[2016-11-23 01:17] javamonkey79 commented on #67
Yes please, can we get this?

[2016-11-23 03:09] cevin commented on #108
@zzjin `["strings"]`

[2016-11-24 08:35] tulios commented on #110
PR fixing this #118 (not merged yet)

[2016-11-25 14:36] thefatoneinthecorner opened #119 "Top level array element"
Hi,

It appears that JSON viewer ignores JSON where the top level is an array. Is this correct?

-- Alastair

[2016-11-29 08:38] tulios commented on #119
Hi @thefatoneinthecorner, sorry for the delay. It should work, I have a test file for it and it is working:

![screen shot 2016-11-29 at 09 35 48](https://cloud.githubusercontent.com/assets/33231/20702240/4b2c6bee-b617-11e6-9a48-41766f449ef9.png)

Can you check this URL:
https://raw.githubusercontent.com/tulios/json-viewer/master/tests/test.array.json

It might be that the API you are using are re

[2016-11-29 10:18] thefatoneinthecorner commented on #119
Hi Túlio,

You are quite correct! And I am delighted - json-viewer is making a big difference for me.

It’s strange because I thought I did everything right regarding restarting Chrome, setting the content-type, but it didn’t work. I then changed the top level element from an array to an object and it started working. I did some research and apparently, strictly speaking, the json top level elemen

[2016-11-29 12:09] #119 closed

[2016-12-01 02:33] Michaelyb520 opened #120 "只能针对JSON格式的数据进行转化，不能对JSON字符串进行格式化"
您好，发现一个很大问题，不能对json字符串进行转化，只能转换json格式的数据。
例如：下面链接就不行。
http://hq.kuaiex.com/Price/hs_TopN?des=0&size=30

这个链接可以：
https://www.btc123.com/kline/klineapi?type=1min&symbol=huobibtccny&size=300

[2016-12-01 05:30] tupengtongxue opened #121 "Does not support ip.taobao.com"
http://ip.taobao.com/service/getIpInfo.php?ip=106.3.57.3

[2016-12-01 08:08] tulios commented on #121
Hi, this API is returning `text/html` as its content type. PR #117 should fix it soon

[2016-12-01 08:10] tulios commented on #120
Hi, the first API is returning `text/html` as its content type. PR #117 should fix it soon

Thanks

[2016-12-01 08:35] tulios commented on #108
PR #117 should improve this behavior. I'll release a new version this week with the changes.
Thanks!

[2016-12-01 08:36] tulios commented on #113
PR #117 should improve this behavior, I'll release a new version with the changes soon

[2016-12-01 19:52] #107 closed

[2016-12-01 19:56] tulios commented on #107
Released on version 0.16.0

[2016-12-01 19:57] tulios commented on #121
This was fixed on version 0.16.0.

[2016-12-01 19:57] #121 closed

[2016-12-01 19:57] tulios commented on #120
This was fixed on version 0.16.0.

[2016-12-01 19:57] #120 closed

[2016-12-01 19:57] tulios commented on #113
The improvements were released on version 0.16.0

[2016-12-01 19:57] #113 closed

[2016-12-01 19:58] tulios commented on #112
Released on version 0.16.0

[2016-12-01 19:58] #112 closed

[2016-12-01 19:59] tulios commented on #108
PR #117 was released on version 0.16.0 and should improve this behavior, closing this ticket for now

[2016-12-01 19:59] #108 closed

[2016-12-01 20:03] tulios commented on #110
It is possible to configure if the links should be opened in a new tab or in place (`openLinksInNewWindow`), maybe this is enough, what do you think?

[2016-12-02 08:31] theNailz opened #123 "Empty <pre> prepended to body"
JSON-viewer is prepending an empty `<pre>`-tag to my body of certain websites since today.
JSON-viewer: 0.16.0
Chrome: 54.0.2840.99 m

http://i.imgur.com/SUJ7C47.png

http://i.imgur.com/SoLmRU9.png

[2016-12-02 09:09] tulios commented on #123
Oh, this is bad. I'll take a look at it asap.
Thanks!

[2016-12-02 09:38] boghyon commented on #123
I'm having the same problem. But strangely only my private project (web app) on a localhost.
Chrome: 54.0.2840.99 m

[2016-12-02 09:46] theNailz commented on #123
Nope @tulios, local development project. Same as @boghyon, only on local dev, not on a public site.

[2016-12-02 09:50] tulios commented on #123
@boghyon @theNailz I have an ideia of what is causing this, I'll provide a fix today.
Thanks again.

[2016-12-02 16:34] lucaskalves commented on #123
Same problem here. It is not happening on a local project. It's happening in our remote servers.

[2016-12-02 16:38] tulios commented on #123
I'm looking at this now

[2016-12-02 17:04] tulios commented on #123
@lucaskalves can you provide the html for testing? you can mask the content if needed.

[2016-12-02 17:37] tulios commented on #123
Hey guys, my hint was false and I'm having a bad time trying to reproduce this. Can one of you provide a html (mask the data if you need) that causes the problem?

I tried on everything I use (apis and sites) and I can't reproduce it.

[2016-12-02 18:58] boghyon commented on #123
Sorry for late response. Here is a hello world example using OpenUI5 framework. [OpenUI5 - hello_world.zip](https://github.com/tulios/json-viewer/files/627978/OpenUI5.-.hello_world.zip)
Prerequisite: [https://chrome.google.com/webstore/detail/web-server-for-chrome/ofhbbkphhbklhfoeikjpcbhemlocgigb](url)
Start the extension, set the folder to the path where index.html is, and start the web server to

[2016-12-03 07:36] siamak commented on #112
Thanks @tulios ;)

[2016-12-04 10:26] #123 closed

[2016-12-04 10:29] tulios commented on #123
Hey guys, thank you very much for the help with this bug.

The bugfix was released on version `0.16.1`.

Thanks again!

[2016-12-05 02:12] ubershmekel opened #124 "Alt-left does not go back"
It seems the `Alt` button being used for rectangular selection captures the `Alt-Left` combo which prevents me from going back using my keyboard. I'm stuck on the JSON page until I mouse-click the back button :(

I think this issue just rolled out.

[2016-12-05 07:21] javansolo opened #125 "iframe not support?"
hi,
on iframes tag not work!!!!!!
    why? ........

[2016-12-05 12:24] tulios commented on #124
Hi, I guess is related to the codemirror update. Json-viewer doesn't need all key bindings, I can probably disable some of them. This behavior is no optimal, I'll take a look.

Thanks!

[2016-12-05 12:26] tulios commented on #125
This issue is related to #59

[2016-12-05 15:02] lucaskalves commented on #123
Great to see you managed to fix it. I can't provide the html of the solution because of confidentiability matters, but I am also using something related to Open UI5.

Thanks a lot, @tulios

[2016-12-05 20:53] tandrewnichols opened #126 "This just stopped working"
This extension just stopped working for me today. It's worked brilliantly in the past. I'm not sure if anything's changed on my end. Curious if you know of particular settings or updates that don't play nicely with this. Or just in general, any way of figuring out what's happened.

[2016-12-05 22:05] tulios commented on #126
Hi @tandrewnichols, last update shouldn't have caused the problem. This extension might crash with others since it analyses the page content, can you try to disable other extensions? Can you also check if there is any error in the console?

Thanks, and sorry for the trouble!

[2016-12-06 14:28] sloanlance commented on #43
Although this issue is closed and the font size can be specified by the user, I wish the default style didn't specify an absolute font-size.  It would be nice if `font-size` were set to `inherit` by default or used a relative size like `larger`.

Ideally, I'd like to see `CodeMirror` with `font-size: inherit;` and`CodeMirror-hints` with`font-size: smaller;`.

[2016-12-06 14:28] tandrewnichols commented on #126
I did check the console already, nothing there. I haven't added any new extensions recently. Meaning, it was working with the setup I have now, and then stopped working (unless one of my other extensions updated behind the scenes maybe). I'll try disabling a few to see if I can figure anything out. I've tried this in Chrome Canary version 57.0.2939.0 canary (64-bit) and in regular Chrome version 5

[2016-12-06 14:33] tandrewnichols commented on #126
I disabled every other plugin I had and reset the default options on json-viewer, and I'm still getting regular json (the way the browser normally displays it without a plugin). It's like json-viewer isn't intercepting it. I've tried a couple other json view plugins as a test, and they are working correctly.

[2016-12-06 16:01] tulios commented on #126
Ok, can you do a last test? Disable and enable the extension. If it doesn't fix the problem, can you share an example of page you are trying to highlight?

Thanks for the debugging.

[2016-12-06 16:11] tandrewnichols commented on #126
I've tried that already, as well as removing and reinstalling the plugin. Not sure I can share the page I'm trying to highlight. It's running on localhost.

For background, my common use case for using this plugin is in development of the website of the company I work for. We have a development feature that returns the json used to render the page instead of the page itself (for internal/admin use

[2016-12-06 16:19] tandrewnichols commented on #126
Something else just occurred to me. I think the plugin _is_ attempting to do something because I also installed "JSON Formatter" to use in the mean time until I figure out the issue with this, and if I have _both_ of those plugins turned on at the same time, JSON Formatter _does_ add it's normal buttons to the top of the page, but it _doesn't_ format the JSON. You have to click "Raw" and then clic

[2016-12-06 22:47] tandrewnichols commented on #126
A little more information on this. A colleague and I just discovered that this extension works fine when used at the root of a domain (e.g. for us localhost:8000), but _not_ on any path (e.g. localhost:8000/foo). He's having the same experience with the plugin, btw. Which still doesn't necessarily mean it's an issue with the plugin, as we are both working on the same site.

[2016-12-06 23:00] johndorn commented on #126
:+1: am said colleague

[2016-12-08 07:33] kenime opened #127 "Conflict with zoomWheel extension"
my JSON viewer was not working and I digged into the code. Turns on another extension "[zoomWheel](https://chrome.google.com/webstore/detail/zoomwheel/kdfgigbjonaniokmpfflpflkhahhbaej?hl=en)" creates 2 elements under `document.body.childNodes`, so when JSON viewer is executing `getPreWithSource()`, the following checking will fail and not considering the page as JSON.

[code]

Would there be any i

[2016-12-08 22:38] spstorey commented on #110
I'd like to do both..single left click stays in the tab but when I want a new tab I can right click on a link and choose open in new tab....plus I've read you can't' highlight then right click to choose copy either

[2016-12-20 14:14] josefsachsconning opened #128 "Options icon does not work"
I get
[code]

[2016-12-20 14:22] josefsachsconning commented on #128
Never mind.  I had disabled the extension while I was experimenting with different JSON formatters.

[2016-12-20 14:28] #128 closed

[2016-12-28 00:37] nevernet commented on #59
is there any plan to support view json in iframe?

[2016-12-29 06:18] tariq1890 opened #129 "Unable to search for text in JSON in the JSON viewer mode"
Hi Tulios,

Thanks for the great extension. I love the new mode you have added to view the JSON response. Would it be possible to do a Ctrl+F to search for text within the response like how we do so in the raw mode?

[2016-12-29 06:30] #129 closed

[2016-12-29 06:31] tariq1890 commented on #129
This is Invalid. my apologies

[2016-12-29 08:19] tulios commented on #129
Hi @tariq1890, don't worry. JSON viewer has two "searches", the default one is a custom search since the extension doesn't render the whole JSON to improve performance and allow big files, but you can re-enable the browser search by setting `alwaysRenderAllContent` to `true`, just be aware that this will render all the content and it might be slow for big files.

[2016-12-29 08:46] tulios commented on #59
There is @nevernet, I'm planning to work on some of the issues after the holidays.

[2016-12-29 19:13] tariq1890 commented on #129
Oh Sure. Thanks so much @tulios

[2016-12-30 02:55] nevernet commented on #59
@tulios that's great news :)

[2017-01-03 18:56] jgrochala opened #130 "Display issue w/ Special Characters"
Raw:
`[{"id": "1","test_id": "73880","triaged": "0","defect_id": "","notes": ""},{"id": "2","test_id": "73875","triaged": "0","defect_id": "","notes": " What's this? "},{"id": "3","test_id": "73863","triaged": "0","defect_id": "","notes": "\" \\\" [ \\ / "}]`

Rendered:
[code]

Image:
![image](https://cloud.githubusercontent.com/assets/24900369/21619092/6c6a4380-d1ab-11e6-9e95-fc6151fec634.png)

P

[2017-01-03 20:04] jgrochala commented on #130
Looks like the issue is in `jsl-format.js`.  This case:
[code]

doesn't appear to handle a literal backlash `\\` followed by a literal quote `\"`. (`\\\"`)

I don't have a node environment set up right now, so it will take me a while before I can commit anything.

If I'm reading this right, adding

`escapeQuote = false,`

and

[code]

and changing the quote case like so

[code]

should solve the p

[2017-01-04 12:09] tulios commented on #130
Awesome @jgrochala, I can try to apply your fix. Thanks for the reporting and nice debugging 😃

[2017-01-04 12:10] tulios commented on #130
I think issue #103 might be related

[2017-01-04 15:31] jgrochala commented on #130
Glad I could help.

I realize that solution I describe above is not quite right:  `escapeQuote = false;` needs to happen in all non-backslash cases.  (Except the one I described... `if(!escapeQuote) escapeQuote = false;` Efficient!)

[2017-01-05 16:47] IceReaper opened #131 "data-uri support"
Feature idea i came across while using this extension to debug my JSON-API:
In my case some objects contain files next to the structural data (images, sounds, other binary files).
Would be nice if these values could be replaced with a simple download-indicator.
A nice addition would be a play feature for audio or video data and the posibility to directly show images.
An example which occurs in my

[2017-01-05 21:31] Onasis007 opened #132 "Onasis007"

[2017-01-11 19:01] twbecker commented on #130
I'm seeing this same issue, when a literal quote follows a literal backslash `\\\"`, but in my case the plugin doesn't render at all. Took me a while to figure out the bug was in the plugin and not my JSON ;)

[2017-01-11 21:02] benvan commented on #126
I wonder if I'm experiencing something with the same root cause. Extension fails spuriously for me, but I've narrowed it down to the situation where the JSON in the document is actually split (for reasons I still haven't managed to understand) over two text nodes.

Though I'm not sure why Chrome decides to split the text sometimes (it's not a length thing, it seems to depend on the content), it se

[2017-01-11 23:02] benvan commented on #126
Following up on the above, here is a pull request: https://github.com/tulios/json-viewer/pull/133

[2017-01-12 08:22] tulios commented on #130
Sorry about that @twbecker :/

[2017-01-12 08:23] tulios commented on #132
@Onasis007, I think something is missing here, right?

[2017-01-12 17:40] Archomeda commented on #126
I'm having the same issue. I'm working with the Guild Wars 2 API, and for example [this data](https://api.guildwars2.com/v2/professions/Elementalist) does not always get parsed with json-viewer. It takes a couple of refreshes before json-viewer picks it up. Basically it works half the time whereas it used to work every time.

[2017-01-13 08:23] tulios commented on #126
@Archomeda, the next time it fails can you save the response? @benvan created a PR to fix this problem and we can use this payload to further test the PR.

Thanks for all reports, it will be really nice to fix this :)

[2017-01-13 12:03] benvan commented on #126
@Archomeda, in addition to saving the response, please check the number of
text nodes that were created by the browser as detailed a few comments
above. This will let us know if it is the exact same problem - I would
hazard a guess that the conditions in which a response gets split on
display might vary between browser installations

On Fri, 13 Jan 2017, 08:23 Túlio Ornelas, <notifications@github.

[2017-01-13 12:05] Archomeda commented on #126
I was about to respond with about how this endpoint is not the only endpoint it's failing on, and that it even fails on [the root endpoint](https://api.guildwars2.com/). And that only outputs:
[code]

But, then I thought this was kind of odd. Especially since I compiled the PR and tried to see if it was fixed. It was not. Then I went to check if I had any conflicting extensions. And apparently I h

[2017-01-13 12:11] benvan commented on #127
See https://github.com/tulios/json-viewer/pull/133

[2017-01-13 14:00] tulios commented on #126
If other extensions change the body it will prevent json-viewer to highlight, the current implementation is super strict about which content should be highlighted, it only highlight "blank" pages from chrome. Basically pages with one `pre` node or, recently, one `text` node. If you have any ideas for this check feel free to share, @benvan PR will greatly improve this.

[2017-01-13 14:24] tandrewnichols commented on #126
@benvan @tulios I've just checked on a page where this plugin doesn't work for me, and `document.body.childNodes` only has 1 element (a `pre`). Also, just to rule it out, the extension does not work in Incognito mode with all other plugins disabled. As I mentioned before, it does still work on the root page (`/`), but not on any page with a path (`/foo`).

[2017-01-13 15:12] tulios commented on #126
@tandrewnichols can you provide the payload so I can debug what is happening?

[2017-01-13 16:58] benvan commented on #126
@tandrewnichols can you check the number of nodes _inside_ the pre?

[2017-01-13 17:19] benvan commented on #126
@tandrewnichols it would be great to see the json body that breaks it for you. If it's sensitive data, you might find the following script useful which redacts all text content into `x` and `9` while preserving structure and length:

[code]

[2017-01-13 18:18] tandrewnichols commented on #126
It doesn't seem like there should be anything different between my working and non-working pages, but I've created this gist: https://gist.github.com/tandrewnichols/8e37e24ddcc6f8f38c5b28de0470babe

Note that (again) the working one is always on `/`, while every other path produces non-working json (though not always _identical_ to what's in that gist), regardless of other variables within that js

[2017-01-13 19:06] benvan commented on #126
@tandrewnichols Thanks for the data. I've had a dig around, and it's a bug that stems from json-viewer getting confused with the part of your payload that has a large blob of stringified json in the json (it's line 1197 of your gist)

@tulios The bug is in wrapNumbers - it produces incorrect json. I'll spend the next 20 minutes to see if I can fix it

[2017-01-13 19:17] benvan commented on #126
Simple breaking example:
[code]

[2017-01-13 19:31] tandrewnichols commented on #126
So is it trying to parse that string _as JSON_? The triple slashes occur when we have (I know, I know) stringified JSON _inside_ stringified JSON, but rendering the whole string as a string seems sufficient. I don't think it needs to be parsed.

[2017-01-13 19:59] benvan commented on #126
You're right, it doesn't need to be parsed.

The reason it _actually_ gets parsed is because json-viewer appears to have
a feature which attempts to display numbers in json as they were originally
written. That is, it attempts to prevent 0.0 being turned into 0 by
JSON.parse

I've only just looked at the source, so take this with a pinch of salt, but
the way json-viewer does this is by operating o

[2017-01-14 09:36] benvan commented on #126
Fixed: https://github.com/tulios/json-viewer/pull/134

[2017-01-14 15:45] tulios commented on #126
Version 0.16.2 is out, I'll keep this open until it is properly rolled out. Many thanks for the discussion and debugging!

@benvan JSON can be used between two backend systems, let's say one in Java and another one in C++, both languages support higher number and when visualizing their payloads we shouldn't apply the limitations of javascript since they are not using javascript anyway. There is no

[2017-01-14 15:46] tulios commented on #127
Version 0.16.2 is out! Thanks @benvan for the PR :)

[2017-01-15 16:52] benvan commented on #126
Ah, you're right - that's a very good point :)

[2017-01-16 04:14] 1984weed opened #136 "riot js does not work at version 0.16.2"
Hi

I love this project.
But I found that riot js does not work, because of this extension.

For example

You open this page http://riotjs.com/made-with-riot/ and click some links with chrome enabled json-viewer 0.16.2

Then js error happen, like this

![screen shot 2017-01-16 at 13 11 20](https://cloud.githubusercontent.com/assets/2726968/21970771/4f0b85a0-dbed-11e6-8370-8f3c43a9aedd.png)

If you

[2017-01-16 09:44] sirxemic commented on #136
I got a similar issue for a Vue project. Commit 3b61cfe seems to have introduced this bug.

[2017-01-16 09:46] tulios commented on #136
Sorry guys, this is bad. I have an idea on how to solve this, I'll take a look now. Thanks for the report

[2017-01-16 10:06] tulios commented on #136
@1984weed @sirxemic 05f7c32 should fix it, I going to release 0.16.3 with the fix

[2017-01-16 10:19] tulios commented on #136
0.17.0 is out with the fix, can you ping this issue back when you test it? (it usually takes 1h for chrome store to expose the new version). Thanks again!

[2017-01-16 10:49] Babesun opened #137 "Uncaught (in promise) TypeError: Cannot read property 'appendChild' of null"
Got the error above.

[2017-01-16 10:57] tulios commented on #137
Hi @Babesun, can you provide the url or a json payload that causes the problem?

[2017-01-16 11:31] tulios commented on #136
0.17.0 is already available

[2017-01-16 12:13] 1984weed commented on #136
@tulios
I installed and checked at 0.17.0.
It looks good for riot js 👍

Thanks.

[2017-01-16 12:37] #136 closed

[2017-01-16 12:38] tulios commented on #136
Thanks @1984weed

[2017-01-16 12:38] #132 closed

[2017-01-16 15:42] eperedo commented on #137
Got the same error suddenly in my apps using VueJs, looks like a conflict.

![captura de pantalla 2017-01-16 a las 10 35 54](https://cloud.githubusercontent.com/assets/461124/21989100/ad05de00-dbd7-11e6-8e2f-535dd0bad6bb.png)

Everything works fine when I disabled the extension. I cannot share the service because is behind an authentication process :(
Also, when I have opened the webservice in a s

[2017-01-22 11:34] mapleeit opened #138 "JSONP newline compatibility"
Awesome extension! But I encountered a problem about JSONP;
Data structure like this:
![2fb6357a-98fd-4eb6-a350-2b2cecc12de2](https://cloud.githubusercontent.com/assets/4194287/22182169/5f452b4c-e0d9-11e6-8da5-9538dfadc84b.png)
for some reason, our background player add a newline here.

Here is the [link](http://www.weiyun.com/proxy/domain/boss.qzone.qq.com/fcg-bin/fcg_get_multiple_strategy?callba

[2017-01-22 11:37] tulios commented on #138
This should definitely work, I'll take a look.

Thanks!

[2017-01-22 11:39] mapleeit opened #139 "JSONP try catch"
there is another format JSON-Viewer can't recognize;
[code]

[link here](http://web2.cgi.weiyun.com/weiyun_activity.fcg?g_tk=1040730676&cmd=17004&g_tk=895508968&wx_tk=5381&data=%7B%22req_header%22%3A%7B%22cmd%22%3A17004%2C%22appid%22%3A30327%2C%22version%22%3A2%2C%22major_version%22%3A2%7D%2C%22req_body%22%3A%7B%22ReqMsg_body%22%3A%7B%7D%7D%7D&callback=X_POST)

I know, our back-end player is diffe

[2017-01-24 21:20] bbbco opened #140 "Support filtering with JSONPath"
It would be great if we could filter the JSON document using JSONPath to only show relevant parts that we want to see.

http://goessner.net/articles/JsonPath/

https://github.com/dchester/jsonpath

[2017-02-08 02:06] matthewoates opened #142 "50ms JS parse time on non-json pages"
This extension adds ~50ms of JS execution time for each page. There should be a lightweight script that checks if there is JSON on the page before loading and parsing the larger script.

Note `viewer.js` is running for 50ms.
<img width="832" alt="screen shot 2017-02-07 at 6 05 25 pm" src="https://cloud.githubusercontent.com/assets/3092315/22720522/2b74226c-ed60-11e6-8229-375cec993768.png">

[2017-02-08 09:19] tulios commented on #142
Agreed. The original check was much simpler but after a while some people reported some problems and I switched to this https://github.com/tulios/json-viewer/blob/master/extension/src/json-viewer/check-if-json.js#L61

I can try to break down the execution and see if I can reduce the time.
Thanks

[2017-02-08 18:09] matthewoates commented on #142
Sweet. Another idea:

Since this runs at the start of every single page load, something like a series of checks sounds best instead of trying to parse the body.

Something like:

[code]

The `firstCharacterIsOpenBrace` check (plus some additional lightweight logic for JSONP support) is a very performant way to short-circuit 99.9% of pages that aren't JSON.

Of course, my first suggestion as oppose

[2017-02-10 08:02] alahosky commented on #67
Main thing I miss from old JSONView is the ability to see the path in the status bar, and easily copy the path or value via right-click.

I now switch between using JSON Formatter and JSON Viewer, but far as I can tell neither offer that old beloved feature. Would love to see it in JSON Viewer!

![jsonview path and value](https://cloud.githubusercontent.com/assets/5773173/22818811/1292964e-ef67-11

[2017-02-10 08:06] zwacky commented on #142
Today I saw this as well, that json-viewer uses 7.2% scripting time on a javascript heavy webapp (MacBook Pro).

I like the simplicity in @matthewoates suggestion. Also keep in mind that the execution time will proportionally increase with the size of the page load.

[2017-02-10 08:17] tulios commented on #142
@zwacky @matthewoates sure, I think this should be fixed. I'll try to work on this issue ASAP.
Thanks for the input!

[2017-02-10 08:18] #126 closed

[2017-02-10 08:35] #127 closed

[2017-02-10 08:40] tulios commented on #67
Hi @alahosky, I like this feature as well, bear with me :)
Right now I'm trying to fix all bugs and corner cases but I keep improving the extension and adding new features from time to time.

[2017-02-10 21:30] matthewoates commented on #142
@zwacky  The first check will run in constant time, since you're just scanning for `{`

[2017-02-11 09:25] zwacky commented on #142
I did a little profiling and the `checkIfJson` is not the bottleneck here. It is the webpack module loading.

![__webpack__require__](http://i.imgur.com/x1cBhG7.png)

[2017-02-11 20:53] matthewoates commented on #142
Yes. Please read my original comments @zwacky

[code]

[2017-02-11 21:11] zwacky commented on #142
I'm no webpack pro and wanted to point out that `__webpack_require__` takes up most of the time.

That's why I posted my screenshot, which might made you think I was ignoring your comment altogether, @matthewoates.

Now I see that there are ten thousands of lines in the viewer.js.

[2017-02-11 21:24] matthewoates commented on #142
Ah. I'll elaborate on what's going on here. The `__webpack_require__` is the first pass of all of the JavaScript, since every module is wrapped with `__webpack_require__`. The first pass is notoriously slow because it has to be parsed then either has to be just in time compiled or interpreted. Later runs can be much more performant.

tl;dr: You'll save performance by having one light script includ

[2017-02-15 17:35] evvvritt commented on #42
Just to add, you can open Chrome's Find / Replace (and skip this extension's search) with `Find Next` (Cmd + G)

[2017-02-20 21:28] KINGH242 opened #143 "Array Length not displaying."
The count of items is not displaying.  I have the latest version that includes the changes that is supposed to add this feature but it is not displaying the count or the option.  I added the option manually and it still doesn't work.  I can, however, get the length in the console by doing

`window.json.length`

[2017-02-21 08:33] tulios commented on #143
Hi, json-viewer doesn't have this feature yet. There is a PR (#122) adding this feature but it's not merged.

[2017-02-27 13:57] lipsumar commented on #140
Yes! Or manipulate via [jq](https://stedolan.github.io/jq/), that would be amazing.

[2017-02-27 16:33] npejo commented on #140
We are currently working on this at the moment. It will be available soon 😀

[2017-03-11 04:17] qsLI opened #145 "show the count of matched result"
Thank you for such great works!
 I wonder if we can show the total number of matched item and which one we are on.
By the way, the regex search is awesome!

[2017-03-28 08:56] boghyon opened #146 "Encoding request: Force utf-8"
Some requested json files don't append `charset=utf-8` in the content-type of response headers which leads to unreadable strings. **Example:** https://openui5.hana.ondemand.com/resources/sap/ui/core/cldr/ko.json

Is there any workarounds to enforce it to display the content in utf-8? It would be nice if this extension could support it out of the box without having to install any other extension.

[2017-03-28 08:58] boghyon commented on #124
Any update on this? Would be nice if it could be fixed.

[2017-03-28 11:24] tulios commented on #124
Hi, this is still in my radar, I'm just swamped by issues in other projects but I should reserve some time for this soon.

[2017-03-28 11:24] tulios commented on #146
👍  I like the idea

[2017-03-28 11:26] tulios commented on #145
@npejo is working in some improvements to the search, I think this is something I can take a look and try to bundle together

[2017-03-28 22:01] cachrisman opened #147 "can't see blinking cursor when using dark theme"
When using a dark theme, and `"readOnly": false,`, the blinking cursor showing where you are editing is almost impossible to see. I would suggest making the blinking cursor for light themes lighter to be more visible.

[2017-03-31 05:03] soiff opened #148 "Would you please post crx file with new release?"
It's almost unavailable to access google webstore from China.

Thanks ahead!

[2017-04-03 14:59] tulios commented on #148
Sure, I can add to github releases

[2017-04-03 16:53] zowpowow commented on #142
Maybe this is a stupid question, but can't we just look at the HTTP headers and see if it's `application/json` to know if the content is JSON?

[2017-04-03 16:57] tulios commented on #142
Hi @zowpowow, in an ideal world yes, but there are lots of APIs returning `text/html` among other things as `content-type`. Take a look at [issue 108](https://github.com/tulios/json-viewer/issues/108) for more context

[2017-04-11 16:43] mlinduska opened #149 "Blocked by popup blocker extension: https://poperblocker.com/index.html"
Is there anything that could be done on Json viewer extension side to be working side by side with the other extension?
It used to work on my previous machine, but it's not working since last couple of days when I switched laptops and plugins got reinstalled to new chrome.

[2017-04-22 04:10] ak04nv commented on #146
Very actual after this [news](https://productforums.google.com/forum/#!topic/chrome/2JIo6Yu7K-I;context-place=forum/chrome) and this old forgotten [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=438464)

[2017-05-08 15:38] alexbowers opened #152 "Spaces lost in plain string"
IF i am outputting json such as

[code]

The output looks like:

![image](https://cloud.githubusercontent.com/assets/842974/25811927/a79edaba-340c-11e7-99a8-6d67d8987a00.png)

Where the raw output is:

[code]

[2017-05-08 17:10] farmisen commented on #126
same thing just happened to me for what looks like another reason and in my case it was the ghostery extension that was breaking json-viewer. White listing my development site in ghostery didn't fix it and I had to use the following other extension to prevent ghostery to run when I am hitting the api I am working on: https://chrome.google.com/webstore/detail/extension-automation/ghopjgdkodchjclkkf

[2017-05-11 14:05] ashclarke commented on #102
There's another alternative workaround if you consider the site you're visiting is safe; you can hide the purple box for trusted sites.

For urls such as the [GitHub JSON API](https://api.github.com/repos/tulios/json-viewer), the site is trustable because it just serves JSON and has no trackers by default.

[2017-05-16 14:34] #3 closed

[2017-05-17 13:33] dx7 commented on #3
Wow. Good!

[2017-05-19 14:35] calebeaires opened #153 "json-viewer freezes trello.com typing"
When entering text it takes a few seconds for trello starts writing after we typed, during that time the app is frozen not being able to change text

[2017-05-24 14:38] rotexhawk opened #154 "Chrom 58"
This extension was working great prior to updating my browser to chrome 58. Now I get this message `Resource interpreted as Document but transferred with MIME type application/json`.

Tested it with multiple urls. These exact urls worked yesterday. Is this compatible with chrome 58?

[2017-05-24 14:50] tulios commented on #154
Hi @rotexhawk the extension is compatible, I'm using chrome 58 myself. Can you share any of the URLs? You can try this one (https://api.github.com/repos/tulios/json-viewer) in your machine and see if it's working.

[2017-05-24 14:58] rotexhawk commented on #154
I got it to work partially. It works work small JSON but for larger JSONS, if I set the `alwaysFold:True` it gives me the same message as above. However if I don't do that I can see the JSON but when I click on collapse arrow, I get JS error.

`viewer.js:3 Uncaught Error: Inserting collapsed marker partially overlapping an existing one`

[2017-06-07 18:47] eorroe commented on #154
Not working for me either, yet I don't see any error

[2017-06-09 17:07] Askolein commented on #154
Chrome 58: it works but for larger file (starting at ~1Mb) folding is very slow. Better setting "Always fold" to false to prevent this behavior.

[2017-06-09 18:56] eorroe commented on #154
Always had that setting set to false still doesn't work 😕

[2017-06-14 18:49] susamn opened #155 "Please add metadata in the head"
First of all its a great project. I use it eveyday.

It would be more awesome, if we can check the response time and the header values in the http response. You can add it in the head (Where you add the url and timestamp), collapsed, so that it does not clutter.

[2017-06-20 05:12] xgqfrms-gildata commented on #154
me to!

Resource interpreted as Document but transferred with MIME type application/json: "http://10.6.1.81/wts/getSubjectTreeNode.json".

Navigated to http://10.6.1.81/wts/getSubjectTreeNode.json

[2017-06-21 11:32] tulios commented on #154
It might be related to the node split (https://github.com/tulios/json-viewer/pull/133)

[2017-07-05 21:37] mrancourt opened #158 "Allow force highlight for oversized JSON"
It would be nice to be able to force highlight for a single oversized payload without having to change the config.

Something in the essence of
![screen shot 2017-07-05 at 2 31 09 pm](https://user-images.githubusercontent.com/2197856/27886076-5c886536-618f-11e7-8a26-6e4eb485b4f7.png)

[2017-07-06 11:44] jphastings opened #159 "Support for JSON Schema"
If there's a JSON Schema field referenced (eg. a URL in the `/$schema` key), or if one has been manually loaded, then load it and use it to display info on each of the keys on hover/click.

JSON Schema can contain a bunch of useful information, like whether the given JSON file is valid (great for writing JSON by hand) or what a particular field actually means and what its contents represent.

Than

[2017-07-18 15:46] eswat2 commented on #154
just in case anyone else is still having an issue with Chrome, i found out today that the Ghostery extension was preventing json-viewer from rendering json in the latest version of Chrome.  With Ghostery enabled, it just displayed json in the browser without invoking the json-viewer extension (or so it seems).  As soon as i disabled Ghostery, the json sample rendered properly with thru this extens

[2017-08-02 11:45] remcohaszing opened #160 "Uncaught TypeError: Cannot read property 'childNodes' of null"
I have created the following `index.html`:

[code]

And the following `script.js`:

[code]

When this page is opened, an error occurs in the JSON Viewer extension:

[code]

[2017-08-02 11:48] remcohaszing commented on #160
I see now that my code was incorrect. Apparently this line causes the error:

[code]

I don't see any valid use cases for this line of code, but I wouldn't expect an extension to throw an error because of this.

[2017-08-02 12:13] tulios commented on #160
Nice, thanks. I run your test in development and JSON Viewer is failing here: https://github.com/tulios/json-viewer/blob/master/extension/src/json-viewer/check-if-json.js#L10

I'll try to take a look at this today.
Thanks again

[2017-08-02 12:16] tulios commented on #160
I think this is the same case of issue #137

[2017-08-04 02:23] mohan-agadkar opened #161 "Great, but Require number of nodes to show"
It is by far the best json extension I found, after going through the other ones.
However one important option is missing.
Showing of the number of elements inside a node.

[2017-08-07 09:35] 1824437 opened #162 "建议调整左侧小箭头的大小"
.CodeMirror-foldgutter-folded:after
.CodeMirror-foldgutter-open:after

用em单位将左侧伸缩箭头字号设置大一些，现在字号有点小，不好点击。

[2017-08-07 11:39] xZero707 opened #163 "Doesn't trigger on Opera when installed through compatibility layer - possible fixes?"
I have recently switched to Opera after being faithful to Chrome ever since first release, and only thing I truly miss on Opera, is this extension. Opera outperformed Chrome in everything, at least in my case.

There is[ Chrome extensions compatibility layer add-on for Opera](https://addons.opera.com/en-gb/extensions/details/download-chrome-extension-9/), which allow installation of Chrome extensi

[2017-08-08 08:45] tulios commented on #163
Nice, I can take a look at opera's extension API. If it's similar we can make it work.

[2017-08-11 19:26] or97140 commented on #49
Anything happening with this?  I'd love it too.

[2017-08-15 16:24] xZero707 commented on #163
I would like to help, but I'm back-end developer and front-end is not strong side of mine, especially not the extensions design.
I will look and see if I can do anything, though.

[2017-08-17 01:35] julienlapointe opened #164 "Feature Request: Highlight Object on Hover"
Love this extension! It would be nice to have this setting: highlighting object on hover. By "highlight", I don't mean syntax highlighting - I mean change the background color to make it easier to see where the object starts and ends.

There is 1 Chrome extension with this feature: https://chrome.google.com/webstore/detail/jsonview-jsonviewer-json/hdmbdioamgdkppmocchpkjhbpfmpjiei.

![Here is a scr

[2017-08-17 03:02] tonyzzp opened #165 "some page can't be formated"
http://ng.bdatu.com/jiekou/albums/a1156.html

[2017-08-23 22:22] bastaware opened #167 "Can't format floating point"
Doesn't format the json below. I guess it's because of the floating point decimals.

`[{"time":1.5034464E+9,"price":4118.566,"volume":0},{"time":1503526085.756,"price":4118.566,"volume":5625},{"time":1503526385.556,"price":4128.998,"volume":5624}]`

[2017-08-24 07:06] tulios commented on #167
Related to #111

[2017-08-31 11:04] boghyon commented on #146
The current Canary version of Chrome displays [JSON in utf-8](https://chromium-review.googlesource.com/c/chromium/src/+/587829). I guess this issue is not relevant anymore if this extension is to be used for Chrome only.

[2017-09-01 23:46] ryh95 commented on #60
Can somebody tell me where to configure `maxJsonSize`  I can't find this option file
Thanks!

[2017-09-02 02:28] alexbowers commented on #152
bump

[2017-09-02 13:29] tulios commented on #60
Hi @ryh95, you have this config in the options page. You can go there in two ways: using the "gear" icon on your top right corner, or right clicking the extension and then clicking on "options"

![screen shot 2017-09-02 at 15 25 24](https://user-images.githubusercontent.com/33231/29995855-8a42cad8-8ff3-11e7-97d2-9730c854596b.png)
![screen shot 2017-09-02 at 15 25 38](https://user-images.githubuser

[2017-09-05 07:58] inave opened #169 "Does not work when poper blocker is installed"
does not work when poper blocker is on
https://poperblocker.com/

[2017-09-08 15:19] iplanwebsites commented on #59
+1 would be helpful for an in-app debugger :)

[2017-09-13 10:18] xZero707 commented on #163
UPDATE: I just noticed that suddenly, it works. I'm not sure if it's an update on your side, or maybe compatibility layer plug-in update, but it works wonderfully, all of sudden.

[2017-09-13 11:15] tulios commented on #163
🎉

[2017-09-25 09:08] wowoinhfut opened #171 "compile error"
On my computer ,`yarn install` failed, but `npm install` and then `npm run build` works. Hope it to be userful for ohters

[2017-09-25 11:33] whyboris opened #172 "please delete this issue"
please delete this issue -- you have `  "sortKeys": false,   ` which accomplishes the alphabetization that I was asking about

[2017-09-25 12:26] tulios commented on #171
Interesting, can you post the error @wowoinhfut?

[2017-09-25 12:26] #172 closed

[2017-10-08 16:51] adius commented on #152
This is really annoying =(

[2017-10-17 18:37] whitneyland opened #174 "Easy way to make wrapping look great"
I don't think there's any way to use CSS to get wrapped text to left align properly, but after some searching it looks like this might be an option:
  https://codemirror.net/demo/indentwrap.html

Maybe it's just my preference, just an idea...

[2017-10-22 21:25] whitneyland opened #176 "Túlio you deserve some credit - Request to change extension name"
Hey man, great work on the tool, I tried a few different ones before deciding yours was the one to use.

Here's the problem: When I randomly see and talk to people at different places and want to tell them to check it out, I'm like "uh.., yeah.. go google Json Viewer...". Then no one can find it because there are multiple Chrome extensions with the exact same name.

So if you changed the name I th

[2017-10-23 15:36] tulios commented on #176
Thanks, @whitneyland. It's super nice to receive some praise!

About the naming issue, when I chose this name back in 2013 there were no extensions called `JSON-viewer`. I think it is a very hard problem to solve, we have to move away from generic names :)

[2017-10-23 15:48] tulios commented on #174
Current behavior:
<img width="1379" alt="screen shot 2017-10-23 at 17 42 42" src="https://user-images.githubusercontent.com/33231/31898743-19f6e30a-b81a-11e7-823e-35b5c0a48b07.png">

Desired behavior:
<img width="1358" alt="screen shot 2017-10-23 at 17 48 24" src="https://user-images.githubusercontent.com/33231/31898843-6c7c7d1a-b81a-11e7-96bf-620aa3bdd353.png">

[2017-10-23 15:50] #171 closed

[2017-10-23 16:09] #167 closed

[2017-10-23 16:09] tulios commented on #111
<img width="389" alt="screen shot 2017-10-23 at 18 09 19" src="https://user-images.githubusercontent.com/33231/31899988-602c9efc-b81d-11e7-8190-9802528d6bd1.png">

[2017-10-23 16:10] tulios commented on #167
<img width="389" alt="screen shot 2017-10-23 at 18 09 19" src="https://user-images.githubusercontent.com/33231/31900002-6c279c5c-b81d-11e7-8e5b-01a94d8075d7.png">

[2017-10-23 16:12] tulios commented on #165
It's an invalid JSON.

[code]

[2017-10-23 16:12] #165 closed

[2017-10-23 16:13] #163 closed

[2017-10-23 16:14] tulios commented on #162
Google translator:

[2017-10-23 16:16] tulios commented on #161
Hi, this was recently added. It should be available in the next release (`showArraySize`).

<img width="521" alt="screen shot 2017-10-23 at 18 15 36" src="https://user-images.githubusercontent.com/33231/31900311-4247df54-b81e-11e7-86f8-61a357a273d5.png">

<img width="493" alt="screen shot 2017-10-23 at 18 15 45" src="https://user-images.githubusercontent.com/33231/31900319-4aa02b5c-b81e-11e7-8022-

[2017-10-23 16:16] #161 closed

[2017-10-23 16:24] #152 closed

[2017-10-23 16:32] #158 closed

[2017-10-23 17:20] #149 closed

[2017-10-23 17:21] tulios commented on #154
I think this issue will be fixed in the next release (PR #150)

[2017-10-24 14:01] tulios commented on #143
This feature is out in version 0.18.0

Thanks

[2017-10-24 14:01] #143 closed

[2017-10-29 07:43] ngyikp opened #178 "Doesn't work on JSON endpoints with sandbox CSP"
**Reproduction URLs:**
* https://raw.githubusercontent.com/tulios/json-viewer/master/package.json
* or https://untitled-8bobienkqieg.runkit.sh (source code: https://runkit.com/ngyikp/59f56f94648a720012dc14d3)

Both of these URLs have a response header of `Content-Security-Policy: sandbox`

**Tested on user-agents:**
* Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)

[2017-10-29 08:41] ngyikp commented on #17
Fast forward to 2017, [Firefox now has a built-in JSON viewer](https://www.ghacks.net/2017/01/12/firefox-53-json-viewer-on-by-default/) :p

![firefox_2017-10-29_16-07-28](https://user-images.githubusercontent.com/6135313/32141766-68f167c0-bcc3-11e7-93f4-54407c34c87f.png)

There's still some value in using this extension over Firefox's built-in, they don't have a syntax highlighter or much customis

[2017-11-03 14:09] Asken opened #180 "Polluting simple web page"
When have the extension enabled it pollutes a web page looking like this:

[code]

to this:

[code]

[2017-11-04 14:34] alombarte commented on #111
Can't test, but sample looks good.

[2017-11-06 17:15] #146 closed

[2017-11-10 15:26] shotexa opened #181 "inserts"

[2017-11-10 15:28] shotexa opened #182 ""<pre> ; </pre>" on every apge"
I love this extension and i want to use it but for now i have to disable it because it appends "<pre> ; </pre>" in the end of the body tag on every page thus causes unexpected things on the bottom of the page
<img width="340" alt="screen shot 2017-11-10 at 7 25 42 pm" src="https://user-images.githubusercontent.com/12943302/32665351-5c16582e-c64d-11e7-8411-b62df6862571.png">

[2017-11-20 06:30] Dectinc opened #183 "Failed parsing JSON object with &quot; in content"
the plugin is not able to parse JSON values which contain `&quot;`

like

[code]

[2017-11-20 07:18] samanthacatania opened #184 "Show Empty Arrays on One Line"
I suggest "folding" empty arrays automatically so they appear on one line instead of three to improve readability i.e.: `{"myArray":[]}`

[2017-12-06 17:30] psyrendust commented on #178
I'm getting the same issue.

[2017-12-06 21:40] jesus2099 opened #186 "Feature to use tab character for tab instead of n space characters"
We currently have `tabSize` but I would like to be able to get 1 tab character for each indentation level instead of `n` space characters.

[2017-12-13 15:54] stdedos commented on #116
Since the ticket is already open, I guess no real reason to pollute with new issues
![jsonviewer-error](https://user-images.githubusercontent.com/133706/33947956-6849342c-e02e-11e7-8906-04063e9a1c5b.png)

Is the default false or true?

Could it be that this specific option has a button very much like 'Show Raw' or '(Un)Fold'?
It is nice to see the number of items, up untill you want to "copy" the

[2017-12-16 13:23] benc-uk opened #187 "Unable to view JSON documents on Github (Blocked script execution)"
Viewing any JSON documents on Github results in this error

**"Blocked script execution in 'https://raw.githubusercontent.com/benc-uk/azure-arm/master/paas-web/basic-webapp/azuredeploy.json' because the document's frame is sandboxed and the 'allow-scripts' permission is not set."**

This is an example file https://raw.githubusercontent.com/benc-uk/azure-arm/master/paas-web/basic-webapp/azuredeploy

[2018-01-06 15:36] LightDiscord commented on #187
Same for me I'm on Chromium 63

[2018-01-12 21:51] jchappell82 commented on #187
Same here on Chrome 63.0.3239.132

[2018-01-26 04:01] amakhrov commented on #180
Similar for me.
Input (served with `Content-Type: text/html` header):
[code]

result after json viewer formatting:
[code]

[2018-02-01 16:35] ryanpcmcquen opened #188 "Enable for offline use?"
Is there a reason not to enable this for offline use?

[2018-02-05 08:27] tulios commented on #188
Hi @ryanpcmcquen, this extension already works offline. You have to allow it through the extensions page.

![screen shot 2018-02-05 at 09 26 48](https://user-images.githubusercontent.com/33231/35794623-c0ad883c-0a56-11e8-9dd2-078fabae39fc.png)

Just check "Allow access to file URLs"

[2018-02-05 13:49] ryanpcmcquen commented on #188
I figured it did. We may as well update the manifest to reflect that.

[2018-02-05 14:01] #188 closed

[2018-02-06 12:27] halitogunc opened #191 "It is not working on local json files."
It would be great if i can use json-viewer for my own local json files also.

[2018-02-07 02:22] hooray opened #192 "This JSON data can't formated"
[code]

you can try it on local, and I think the problem is there have some HTML code in JSON data.

[2018-02-09 20:22] arthurxiong3 opened #193 "A new option for newline?"
Current behavior -
...
    "result.raw": "\nder43 2018020903:23:41 cat /etc/bird/bird.conf\nrouter id 172.17.2.43;\n\nprotocol bgp bgp1 {\n        local as 65243;\n        neighbor 10.0.19.30 as 65200;\n\t\tnext hop self;\n        multihop;\n        export all;\n        import all;\n}\n\nprotocol bgp bgp2 {\n        local as 65243;\n        neighbor 10.0.7.29 as 65200;\n\t\tnext hop self;\n
...

D

[2018-02-16 11:42] isavcic commented on #67
This would be great, indeed!

Currently my workaround for this is to paste the JSON in VS Code and get the path via JSONPath plugin, but that is unnecessarily tedious. :(

[2018-02-27 05:54] fuyunliu opened #194 "Can display the number of the array?"

[2018-02-28 09:17] lhy1993 opened #196 ""ClickableUrls" make url incorrect"
For example:
this json : {"data": "http://domain.me/?a=1&notify_url=333"}
if "ClickableUrls" is set to "true", then click that url, '&not' will be changed to something else like:
![qq 20180228171508](https://user-images.githubusercontent.com/26143874/36779455-f71f46ba-1caa-11e8-9a52-1d235d152a3c.png)

so is that a BUG?

[2018-03-03 17:53] leftler commented on #187
Also having the same problem. Chrome for Windows 64.0.3282.186 (Official Build) (64-bit)

[2018-03-03 17:57] benc-uk commented on #187
I don't think this is getting fixed, I've switched to using another extension. Shame as this was really nice

[2018-03-03 18:01] leftler opened #198 "Don't include generated header with the line number count."
When you have both headers enabled and line numbers enabled it will count the header as part of the line numbers, this can be a issue if you are comparing with another copy of the file you might have open with a text editor and you are trying to jump to various lines.

[2018-03-03 18:03] ffxsam commented on #187
@benc-uk Which extension did you wind up using?

[2018-03-03 18:14] benc-uk commented on #187
This one seems ok - https://github.com/gildas-lormeau/JSONView-for-Chrome

Pretty basic but it lets you apply your own CSS to style the JSON. A few others I looked at were even more basic or didn't work

[2018-03-04 10:18] LightDiscord commented on #187
It's weird but you can see the JSON you can't see on GitHub by copying it and paste it into the search bar like this: 'json-viewer <json>'
![json-viewer](https://user-images.githubusercontent.com/24509182/36944488-b2104d80-1f9d-11e8-8747-996572659e15.png)

[2018-03-04 17:07] larrybud2004 opened #199 "Bug, Does not display properly if string contains <br/>"
returned data string contains <br/> breaks the formatting and you don't see the whole JSON

[2018-03-05 21:25] jonniedarko opened #200 "Feature request: option to format strings with line breaks"
It would be awesome if we could format and strings that have `\n` to breaking, would allow for easy reading

[2018-03-20 22:01] SuperBerny opened #201 "Prevent extension from parsing php plain text"
[code]

4 and 25 will not show up on the screen unless I put them after the <h> tags.
Sometimes the top part of the page will be the JSON viewer and the rest will be my html.
Is there anyway to stop it from parsing php?

![test](https://user-images.githubusercontent.com/27752220/37685112-80c15abc-2c4f-11e8-92a0-dd59a7a0b42e.PNG)
![test1](https://user-images.githubusercontent.com/27752220/37685113-

[2018-03-27 19:54] zhilyaev opened #202 "Blocked script execution in <URL>"
https://raw.githubusercontent.com/nuxt/nuxtjs.org/master/package.json

![image](https://user-images.githubusercontent.com/4854707/37991355-9c67dff8-3211-11e8-9374-eb2ae4221f31.png)

[2018-03-28 11:50] mike-nelson opened #203 "PRE appending at bottom"
I really like this extension, it is awesome! But something has been bugging me for a while and i just found out it is this extension doing it.

I often write quick utility code to process things and I never bother outputting an HTML tag when I am doing this. I have a lot of utility scripts like this, having been doing this for years. In this case the first line is always wrapped in PRE and stuck a

[2018-04-03 07:27] tulios commented on #180
This is a very hard bug to fix, to properly fix this the extension should ignore anything that is `text/html` but some weird APIs insist in return the wrong mime-type, I think I will add a config to disable this behavior.

[2018-04-03 07:27] tulios commented on #203
This is related to #180

[2018-04-03 07:27] #181 closed

[2018-04-03 07:28] tulios commented on #182
Related to #180, it should be fixed there.

[2018-04-03 07:31] tulios commented on #191
Hi, take a look at issue #10 for instructions. It works with local files.

[2018-04-03 07:31] #191 closed

[2018-04-03 07:33] tulios commented on #194
There is an option called `showArraySize`

[2018-04-03 07:33] #194 closed

[2018-04-03 07:34] tulios commented on #199
Can you share an example of the string? Thanks

[2018-04-03 07:35] tulios commented on #200
#193

[2018-04-03 07:35] tulios commented on #201
Interesting

[2018-04-03 07:36] tulios commented on #202
#187

[2018-04-11 16:29] marcoas commented on #59
+1

[2018-04-19 09:02] runefs opened #205 "pressing expand in raw view has unexpected behaviour"
If pressing expand in raw view and the reverting to formatted view, will result in the first press on the expand button to be ignored.

OS: WIndows 10
Chrome Version: 65.0.3325.181

[2018-04-29 19:35] marcelstoer commented on #201
Rename your file from `.php` to e.g. `.html`?

[2018-06-04 15:49] c24w commented on #180
Just came across this today completely messing up this simple page:

![image](https://user-images.githubusercontent.com/710406/40927477-b8f3babc-6816-11e8-97ec-6f970b5f8bfb.png)

---

I don't know what those weird APIs are, but should this really be accommodating for the exceptions?  Any news on the config option? :slightly_smiling_face:

[2018-06-13 14:27] mrchief commented on #187
I made a dark theme gist for [gildas-lormeau/JSONView-for-Chrome](https://github.com/gildas-lormeau/JSONView-for-Chrome) that matches json-viewer styles. It's not as extensive (limitation of the other extension) as this extension but gets as close as possible.

[JSONView.dark.theme.css](https://gist.github.com/mrchief/4d3fa3aa19b31262e57e92146f440eb4)

[2018-06-23 18:17] chris-tse opened #207 "Having JSON Viewer enabled breaks Steam login"
Not sure if this is really an issue that needs "fixing" but it should be noted that having the extension enabled will cause Steam to send you a verification code, and upon entering the code, it will fail and say invalid user/password even though it was correct the first time.

[2018-07-05 19:34] Zorkling commented on #199
Ran into the same thing, here's a simplified example.

`
[
  {
    "property": "foo"
    "subObject": {
      "htmlWithBr": "beforeBr<br /><div style=\"font-family: Verdana; font-size: 18px;\">AfterBr</div>",
    }
  }
]
`

[2018-07-16 14:38] doggy8088 opened #208 "Error parsing HTML as JSON"
Here is a sample page: http://output.jsbin.com/dapefoh

[code]

If JSON Viewer been enabled, the browser will show different layout.

Expected:

![image](https://user-images.githubusercontent.com/88981/42764726-e5c4a53a-8948-11e8-8ec0-84150b8148c1.png)

Actual:

![image](https://user-images.githubusercontent.com/88981/42764708-dc563ed2-8948-11e8-8476-69df426d3a31.png)

[2018-07-21 08:56] VladimirAlexiev commented on #187
https://github.com/tulios/json-viewer/pull/209. If @tulios doesn't merge it soon, I'm switching too.

[2018-07-21 08:56] VladimirAlexiev commented on #178
https://github.com/tulios/json-viewer/pull/209. If @tulios doesn't merge it soon, I'm switching too.

[2018-07-22 04:29] ngyikp commented on #178
The Chrome bug has been reported by someone else, and fixed in Chrome 68 :)
https://bugs.chromium.org/p/chromium/issues/detail?id=811528

![](https://user-images.githubusercontent.com/6135313/43042228-c0c28cfa-8daa-11e8-945a-40df229b48f1.png)

[2018-07-22 06:22] ngyikp opened #210 "Set proper minimum Chrome version"
Currently the minimum Chrome version [set on the manifest](https://github.com/tulios/json-viewer/blob/69d3cdc447b618cfa6e0ff7120c157d33dab1979/extension/manifest.json#L8) is 21.

`chrome.runtime.sendMessage` only works on Chrome 26+
https://developer.chrome.com/extensions/runtime#method-sendMessage

However, due to the usage of template strings introduced at https://github.com/tulios/json-viewer/c

[2018-08-02 11:09] sharego opened #211 "support website filter"
support sets the websites, which enable this extension, and disabled on other websites.

[2018-08-09 20:27] stinky2nine opened #212 "Support JSON prefix"
I think it will be great to support custom JSON prefix(es).

[2018-09-10 13:33] #178 closed

[2018-09-10 13:35] ngyikp commented on #187
FYI this is fixed on Chrome 68
https://github.com/tulios/json-viewer/issues/178#issuecomment-406840323

[2018-09-13 07:57] afu110 opened #213 "support Remote Address"
can you support a custom ons with remote address ? like this: "remoteAddress": true,

[2018-10-05 11:32] ashishsantikari opened #214 "Sidebar View to get a holistic view of the json"
It would be great if a sidebar is provided for getting a holistic view of the json.

**Expectation:**
1) Should show the overall structure of the json.
2) Tree like UI to expand/collapse any node and on selection, to take the view to the particular node.

Thanks

[2018-12-05 13:15] #180 closed

[2019-01-01 14:54] lwoods opened #219 "Simple script output is garbled"
Using Chrome, I have a PHP script that has two simple 'echo' statements:

echo 'FIRST TEXT<br/>';
echo 'SECOND TEXT<br/>';
but this outputs:
<br>
SECOND TEXT
<br>
<pre>FIRST TEXT</pre>

Turning off 'json-viewer' returns the text in correct order.

[2019-01-01 14:58] lwoods commented on #219
Sorry.  Forgot to bracket text:

<pre>
echo 'FIRST TEXT<br/>';
echo 'SECOND TEXT<br/>';
</pre>
Outputs:
<pre>
<br>
SECOND TEXT
<br>
</pre>
<pppre>FIRST TEXT</pppre>

I don't know how to show a PRE inside a PRE so the 'pppre' above is really 'pre'.

[2019-01-01 14:59] lwoods commented on #219
Forget it!  I give up trying to beat this thing!

[2019-01-17 20:46] justsml opened #220 "Support Page-Up & -Down Keyboard Shortcuts"
I believe this relates to #124 .

On my Mac all shortcuts to scroll by keyboard are broken - spacebar, page down, page up (option+up).

Page Start & End _do work_ (Cmd Up & Down)

[2019-02-12 03:38] goodjack opened #221 "Export/Import or sync settings"
Is it possible to export/import the settings to/from a file,
or sync extension settings in Chrome Sync?

Thanks.

[2019-04-20 21:05] rektdeckard opened #224 "XML support in the future?"
Great utility, thanks for this! Any chance you'd consider supporting XML down the road? A few public APIs I use only serve XML, and I'd love to see it with your formatting!

[2019-05-12 20:41] richiksc commented on #142
If the JSON is served with an improper content-type, then users can enable it by manually clicking on the exception. I think it is better to give the majority of users a performance boost by supporting the standard instead of fully supporting all edge cases with the same user experience - give them a fallback instead. This aligns with the progressive enhancement model, and it's why we don't often

[2019-05-15 09:35] ahtutejlo opened #226 "Scratch pad access through "jw -> Tab" ?"
Is it possible to add some alias like "jw" to use "jw -> Tab" instead of "json-viewer -> Tab"?

[2019-05-28 06:06] aprilmintacpineda opened #227 "Does not work when data is an array"
[code]

json-viewer will not recognize this and therefore will not work.

[2019-05-28 12:38] samyfox opened #228 "Add status code request"
Display the status code of the request for a better understanding.

[2019-05-28 22:17] ffaaaa opened #230 "json viewer shold not add 'pre' tag to html"
[code]
json viewer adds **pre** tag to html.
[code]

I think json viewer should only format json.  otherwise it will lead to confusion

[2019-05-28 22:20] ffaaaa commented on #230
close because duplicated

[2019-05-28 22:20] #230 closed

[2019-05-31 17:52] rogasholgian opened #231 "olga mendez"
# jsoup: Java HTML Parser

**jsoup** is a Java library for working with real-world HTML. It provides a very convenient API for extracting and manipulating data, using the best of DOM, CSS, and jquery-like methods.

**jsoup** implements the [WHATWG HTML5](http://whatwg.org/html) specification, and parses HTML to the same DOM as modern browsers do.

* scrape and [parse](https://jsoup.org/cookbook/in

[2019-06-02 01:50] mikhoul opened #232 "Bug on https://ketarin.org/forum/topic/780-offline-install/"
This page is opened as a JSON file but is not a JSON file.

Regards ! :octocat:

[2019-06-14 02:58] vanduc1102 commented on #140
it's been 2 years, any update so far

[2019-06-14 04:16] bbbco commented on #140
Use bro/q
https://github.com/zalando-incubator/bro-q

[2019-07-06 11:18] vanduc1102 commented on #140
installed, removed json-view

[2019-07-22 09:13] pchainarong commented on #95
hi guys, is this feature already launched?

[2019-07-24 15:31] picaron opened #233 "add css class for null, false and true values"
it would be useful if you could add a css class for special values such as null, false and true

I would really like to add custom CSS so that I can colorize those value differently, for example `false` values as red and `true` as green

when debugging large objects with many booleans, this would make it much easier to read.

[2019-07-24 15:31] picaron commented on #233
example JSON object:

[code]

[2019-07-25 08:55] tulios commented on #233
@picaron you can provide your own CSS to customize these things, go to the options view, you have a custom style area:

![Screenshot 2019-07-25 at 10 54 46](https://user-images.githubusercontent.com/33231/61860704-ac5e5180-aeca-11e9-8596-c803c9ac6281.png)

[2019-07-25 14:40] picaron commented on #233
I know that @tulios but I cannot write a CSS rule that matches only the false or only the true values for example

for example I would like to do:

span.cm-true {
   color: green;
}

span.cm-false {
   color: red;
}

[2019-09-06 16:52] DentFuse commented on #17
Sorry for bumping an old issue, but I had been using this on chrome and have recently moved to waterfox (fork of firefox) and would really love to have this!

[2019-09-08 14:48] itamarcu opened #234 "Option to change scroll position for search results"
Currently, when you search for something in the document and hit Enter, the screen scrolls down to find it but stops scrolling almost immediately after finding it. This causes the highlighted result to be very low on my screen, and prevents me from seeing useful context for it.

The standard Chrome search, if it needs to scroll down to show the next search result, will scroll until the highlighted

[2019-09-10 21:51] jtiscione opened #235 "Can't start"
How do I get this thing to work? If I point it at a JSON file it just dumps it on one line as if nothing is installed.

[2019-09-10 22:03] tulios commented on #235
Hi, take a look at this issue #10

TL;DR
you have to allow the extension to work on local files

[2019-09-17 21:46] timriker opened #236 "Show children count on collapsed objects"
Similar to arrays, when an object is collapsed, the collapsed view should show the count of direct children.

[2019-09-19 22:43] itanex commented on #231
Issues are not meant to be a place of advertisement.

[2019-09-20 00:23] #231 closed

[2019-09-23 10:32] steka opened #237 "Show selected key(s) when a node is folded."
It would be nice if keys could be listed on the options page that will be shown (with its value) when a node is folded (if found). Compressed to one line and maybe limited by n-characters.

Example, if "name" is the among the listed keys, and found in the node, then the folded node will  be show as:

instead of the current:

and when key/value is "to long", just truncated with a trailing "...":

[2019-09-27 19:49] stevechilds opened #238 "Doesn't fire on an iFrame"
I don't know if its supposed to or not, but I've got a testbed page which loads JSON into an embedded iFrame, is there a way to trigger the formatting on the embedded iFrame ?

[2019-10-02 16:56] jtiscione commented on #235
Are you referring to "Allow access to file URLs"? I have that one already set.

This is not a local file, though, it's an HTTP URL that's sending JSON back to the screen, and it's all getting dumped on one line.

[2019-10-15 19:49] zellenberg opened #239 "Does this extension store any of my data?"

[2019-10-21 03:21] JoveYu commented on #17
any update?

[2019-11-03 09:55] seunggabi opened #241 "Show count for `Object`"
### Show count for `Object`
- We need object field count
- so, I count one by one field...
- I add counting function object filed

[2019-11-04 06:53] seunggabi commented on #236
@timriker
hey, I make your needs #241

close your issue~!

[2019-11-07 12:47] henriqueweiand opened #243 "It could have an input feature of json and display in a new tab the input value"
It could have a feature of inputting json and visualizing in a new tab the value entered in this way would be useful for those who are implementing and want to see the values in a better way. I trust that I use some websites for this function.

[2019-11-07 12:56] tulios commented on #243
This already exists, it's the scratch pad. Go to the address bar, type json-viewer scratch then <tab> paste the text and hit enter, it will open a new tab where you can change and reformat any value

[2019-11-07 13:00] henriqueweiand commented on #243
nice!

[2019-11-07 13:00] #243 closed

[2019-11-21 00:30] pepepaco commented on #239
it runs locally, so i think no, but you can check the code or compile it yourself as explained on the read me.

[2019-11-25 14:37] MHaris404 opened #244 "How the fuck we are supposed to use this??"

[2019-11-25 14:43] MHaris404 commented on #244
never mind #10 have the answer

[2019-12-09 14:33] seunggabi commented on #241
@tulios
check my pr
thx

[2020-01-06 01:36] KharmaScribbles commented on #244
Besides that you can use it like a notpad by typing exactly the below in your omnibar/ URL bar: (when I say TAB or ENTER then I mean actually press TAB/ENTER): *Take out the plus signs (+), it just means do not put a space and immediately start next thing

json-viewer+TAB+scratch pad+ENTER

[2020-01-17 15:40] adhocore opened #245 "Only real content should be given line numbers"
line 1,2,3 shouldnt be numbered
![](https://raw.githubusercontent.com/tulios/json-viewer/master/screenshot.png)

[2020-02-02 09:57] Kalesberg opened #246 "the issue is now sorted for relatively small few things"

[2020-02-13 09:29] nguyenxndaidev opened #248 "Show bytes size along count number for both object and array"
It would be great if json-viewer allows to show information of byte size along with count of children. Check how JSON Lite implements this nice feature?
![image](https://user-images.githubusercontent.com/24372782/74419750-a752f680-4e4a-11ea-8ed1-5dfb01bb0f83.png)

[2020-02-13 09:40] nguyenxndaidev commented on #67
Beside show and copy the path, I really want to copy the value (useful in long json document).

[2020-02-25 15:40] olsen4930824 commented on #10
Thanks, but it'd be really helpful for others if you add this in the README.md

[2020-03-18 18:32] LiorHalfon commented on #248
This task can be broken down into Two.
One for the count of elements and one for the size in bytes.
In my opinion, the count of elements in the array is more important, since it is also the standard in other JSON viewers.

[2020-03-27 21:18] dylvaz opened #250 "Nothing happens."
I just downloaded the extension and have it turned on and allowed it all the permissions. When I open up a URL with JSON on it it just doesn't do anything. Would appreciate some help.

 Here is the URL I currently am using to test it.

https://efa.mvv-muenchen.de/ng/XSLT_DM_REQUEST?outputFormat=JSON&language=en&stateless=1&coordOutputFormat=MRCV&useRealtime=1&zope_command=enquiry&type_dm=stop&name

[2020-03-27 21:19] #250 closed

[2020-04-08 11:06] jimmyyem opened #251 "I think it is better to set prependHeader to false by default"
As the title, if I need to copy the json content, with the header(url and timestap) will not help and cause parse json content fail.

So I suggest to set the `prependHeader` option to false by default.

[2020-04-18 16:47] dinuscxj opened #252 "can you support newline option?"
{"result":400,"message":"java.lang.reflect.UndeclaredThrowableException\n\tat com.xyz.kwik.component.drawableslog.service.DrawablesLogServiceImpl$$EnhancerBySpringCGLIB$$12acd8f1.getLatestItems(\u003cgenerated\u003e)\n\tat com.xyz.kwik.web.controller.DrawablesLogController.drawablesLogQuery(DrawablesLogController.kt:28)\n\tat sun.reflect.GeneratedMethodAccessor132.invoke(Unknown Source)\n\tat sun.

[2020-04-29 11:48] maykelsantoz opened #254 "The Icon Json Viwer black"
Hi,

Please, include option for customize icon white for the chrome extension.
Actually icon is black for default,
making it invisible in chrome browser tab.

[2020-05-08 06:34] joinusj commented on #237
{"uuid":"f37d29ac0d6944a793fb01bf6d1389ef","name":"572139.eyofc55f.1","description":"20507353064598223-355","zoneUuid":"1cb2275ffcab45fc8cfb8e20abe83da5","clusterUuid":"f7cf253cab2c4c7e9574ce42654b1783","imageUuid":"0827e9a0a61f4ea0be77073f5357d956","hostUuid":"f542dcef76a2400c87bb3228471fff08","lastHostUuid":"f542dcef76a2400c87bb3228471fff08","instanceOfferingUuid":"f0cede0f0dde4d34aacc6a1e5c1c05

[2020-05-11 11:00] NorthLake opened #255 "Drag 'n drop link disabled"
Normally if you try to drag a link from another application/window to an opened page the link is opened. If you try it with an opened JSON viewer tab nothing happens.

[2020-05-12 03:30] danilogit opened #256 "Convert JSON to YAML"
It would be great if we can present a JSON as YAML document.

[2020-06-29 13:05] jlsjonas opened #257 "Ass support for json5"
Please add support for rendering json5
https://json5.org/

[2020-07-08 19:33] fwd079 commented on #191
Guess this is stopped again. I have this 👇 but still local JSONs are just plain text.

![image](https://user-images.githubusercontent.com/7912632/86962090-35ad7900-c15a-11ea-8254-d9a0011aec12.png)

Regards.

[2020-07-31 12:28] aheintz commented on #220
The same for browser back and forward (Command-Arrow Right/Left). Really annoying.

[2020-08-27 10:46] Missypointyshoes commented on #60
For me, JSON viewer awesome was not working due to another Chrome Extension: ghostery. Once I disabled that, it worked fine.

[2020-08-31 23:22] #86 closed

[2020-09-02 17:23] cesarnorena opened #259 "The extension was disabled in Chrome version: 85.0.4183.83"
<img width="1904" alt="Screen Shot 2020-09-02 at 2 21 55 PM" src="https://user-images.githubusercontent.com/6949977/92015770-aa023400-ed27-11ea-8af3-5897cee28d1b.png">

[2020-09-08 09:29] tulios commented on #259
Hi, you have manually disabled the extension before. You can click on "Ativar este item" to enable it again. I have the same version of chrome and the extension is working fine.

[2020-09-08 09:29] #259 closed

[2020-09-09 14:55] RushanKhan1 commented on #60
@Missypointyshoes Wierd, same thing happened with me.

[2020-09-23 07:34] horizon365 commented on #10
Not work on local json data. Chrome 84.0.4147.105

![TIM截图20200923153247](https://user-images.githubusercontent.com/17285011/93981116-19f95c80-fdb2-11ea-8ecc-45f85975c50e.png)

[2020-10-07 04:38] vipulsalian4 opened #263 "increasing the composition size in aftereffect doesn't change the dimension of the json file"
i am trying to increase the size of the animation but when i render the composion in after effects the dimentions of the json file remains the same

[2020-10-08 07:17] rahulkiller104 commented on #256
@danilogit   can you tell me in more detail?? what I have to do?

[2020-11-05 07:21] houkunlin opened #264 "Support time stamp formatted display"
https://github.com/tulios/json-viewer/blob/bad9a49f353596ce7356c1ee7e84b8577f7c915c/extension/src/json-viewer/highlight-content.js#L57

Expect to support time stamp formatted display. Such as introduce [moment](https://momentjs.com/) or [dayjs](https://github.com/iamkun/dayjs)

期望支持时间戳格式化显示。比如引入 [moment](https://momentjs.com/) 或者 [dayjs](https://github.com/iamkun/dayjs)

From Google Translate/来自谷歌

[2020-11-11 23:41] rmalinin opened #265 "showArraySize is always true"
Hello group,
i have been using json-viewer and really like the extention, but found very enoying issue:
Array is always being used despite "showArraySize":false in the settings.
Can you please fix this issue, so that i can disable showing Array size in the json.

Thank you

[2020-11-19 12:17] danilogit commented on #256
Hi @rahulkiller104 Sometimes JSON files can be very long and hard to read and I think in this case an option to convert to a YAML file could help.

[2020-11-19 13:48] fennemaj opened #266 "Search not working?"
I've noticed in the last few days that it seems like ctrl-F search will open up when invoked, but never finds the string that's being searched even when it exists.  If I switch to RAW, then the standard ctrl-F in Chrome works fine.  Any thoughts?

[2020-11-24 15:24] voltaek opened #268 "Background color not covering background anymore"
Plugin v0.18.0, Chrome v87.0.4280.66, Windows Server 2019 Standard v1809 (Windows 10 equivalent).

I recently clicked the Update Extensions button (under Extensions when in Developer Mode) in Chrome the other day, and then this issue showed up, so I suspect I was running an older version of the extension for awhile.

Now when a page JSON loads up the background color only covers down to where the

[2020-11-26 00:04] jomiva commented on #268
![image](https://user-images.githubusercontent.com/48603039/100293212-55064080-2f59-11eb-9cd4-55a1a38f4b57.png)
It's happening to me aswell

[2020-12-01 13:57] moneyatbo commented on #266
I am seeing the same behavior. I find that if, after searching, I scroll to the location in the json where the entry exists , it is highlighted. So it seems that it is just not scrolling to the proper location.

[2020-12-05 17:38] silviohfc commented on #268
Thanks for the hint, i'm having the same problem.

[2020-12-07 20:19] voltaek commented on #268
Since I didn't mention this explicitly in my original post, my workaround is to add the styling adjustment I mentioned into the **Custom Style** section of the plugin's options.
[code]

[2020-12-07 20:42] voltaek commented on #268
Looks like [a PR](https://github.com/tulios/json-viewer/pull/267) has been merged that fixes this issue, but an update to the extension has not been pushed out, yet.
Their fix is to add this:
[code]
While we wait for a release, you can add the fix to the **Custom Style** section of the plugin's Options, same as I'd done with my quick-fix styling.

[2020-12-17 23:58] Kmatt-doering commented on #266
I am seeing the same thing as workaround if you did not already notice you can set the setting "alwaysRenderAllContent" to equal true, and it uses the Chrome browser search just like it does in RAW. https://share.getcloudapp.com/wbuKzW7o

[2020-12-19 00:24] maviniciuus commented on #268
![image](https://user-images.githubusercontent.com/24211410/102675241-649f3080-4177-11eb-9366-9c43ed180dba.png)

[code]

[2020-12-22 16:45] tulios commented on #268
Version `0.18.1` with the fix was already submitted for review and it will be automatically published once it's done.

[2020-12-30 18:22] jimmyzzxhlh commented on #266
This really makes the extension not usable any more. In my use case it was really convenient to sort the json fields alphabetically and then search a json field name to quickly jump to it. Please fix it.

[2021-01-04 12:10] tulios commented on #268
The version was released.

[2021-01-04 12:10] #268 closed

[2021-01-18 08:51] FlaminSarge commented on #110
It looks like this issue is more generally that "Any mouse click triggers a clickable link to open", since this also occurs for mouse buttons other than Left/Right (e.g. middle, thumb buttons).

[2021-01-21 07:32] xgqfrms opened #273 "JSON render duplicate bug"
# JSON render duplicate bug

macOS 10.15.17

Version 87.0.4280.88 (Official Build) (x86_64)

![image](https://user-images.githubusercontent.com/7291672/105317886-c252ec80-5bfd-11eb-91f2-0dc9a3a1db5e.png)

[2021-01-21 07:41] xgqfrms commented on #273
# multi plugins conflict bug

![image](https://user-images.githubusercontent.com/7291672/105318942-19a58c80-5bff-11eb-96ed-dd02cd90e90b.png)

[2021-01-21 07:41] #273 closed

[2021-01-27 08:17] netwixell opened #274 "Page not loading"
On some pages where the code is attached, the extension runs and causes an error. This leads to the page not loading.

[2021-02-12 11:23] acrov commented on #228
I'd also love to see the the [HTTP Status Codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) of the **response**.  It would be great to see this as part of the "prependHeader" e.g.
[code]

[2021-03-05 21:12] ericcox1 opened #277 "Is it possible to add support for JSON Lines?"
Is it possible to add support for [JSON Lines](https://jsonlines.org/)?

The [NCBI Datasets project](https://www.ncbi.nlm.nih.gov/datasets/) provides DNA sequence metadata in JSON lines format and it would be helpful for users if these files could be easily viewed in a web browser.

[2021-03-13 00:46] evka85 commented on #60
regular users follow this pattern: install plugin -> drop some json -> doesn't work -> uninstall. This is something that ought to work out of the box, just like opening a txt file with gedit..
after I repeated this with 3 different chrome extensions, I finally just opened firefox -> drop json (no extension needed) -> works

[2021-03-15 17:51] ImRodry opened #279 "Empty strings are treated as URLs"
If your JSON page has an empty string ("", no spaces) and you have clickableUrls set to true, the extension will treat them as URLs and lead you to an about:blank page on click. I've tested this across websites and it happened to be the case in all situations so far.

[2021-04-06 13:22] KaKi87 commented on #93
Hello,
Any news on this ?
Thanks

[2021-04-07 22:40] eltonsantos opened #281 "Icon Json Black almost insivible in theme dark"
Please, include option for customize icon white for the chrome extension.
Actually icon is black for default,
making it invisible in chrome browser tab.

[2021-04-15 11:22] bajosiaa commented on #279
Here is the example
https://api.github.com/repos/tulios/json-viewer
**"gravatar_id": "",**

[2021-04-15 11:23] ImRodry commented on #279
Thank you @bajosiaa!

[2021-04-27 13:07] nagachaitanyalokam opened #283 "Publish your extension to Microsoft Edge Addons website"
Microsoft Edge is the second most used browser on the web, making the browsing experience more flexible, offering many more services for users and optimized for Windows devices.

Microsoft Edge supports Chromium extensions, and you can publish your extensions to Microsoft Edge Add-ons website with minimal code changes. Find out more [here](https://docs.microsoft.com/en-us/microsoft-edge/extensions

[2021-05-18 12:46] jribbens opened #287 "Empty arrays and objects take a huge amount of space"
Empty arrays and objects, i.e. `"foo": [], "bar": {}` take up three lines of space, to show literally nothing. They should just be displayed as one line saying `"foo": []` or `"bar": {}` with no option to expand (since there is nothing to expand).

[2021-05-18 12:50] jribbens opened #288 "There should be an option to remove the 'crash' button"
There should be an option to remove the '^v' button at the top right that does nothing except crash the browser.

[2021-05-18 12:52] jribbens opened #289 "The click handler should ignore right-clicks"
The click handler on URLs should only open them when they are left-clicked - right-clicking should open up the context menu as always.

[2021-05-18 12:53] jribbens opened #290 "Object keys should be checked for URLs also"
In JSON like `{ "https://example.com/": "https://example.org/" }` both of the URLs should be detected, not just the second one.

[2021-05-18 12:58] jribbens opened #291 "Option to have compact view for small arrays/objects"
It would be nice to have an option to have a compact display for small arrays/objects, e.g. to display `"foo": [1, 2, 3]` as `"foo": [1, 2, 3]` on one line rather than the only choices being "collapsed and none of the contents visible" or "expanded and taking up many lines unnecessarily".

[2021-05-18 13:09] jribbens commented on #245
Not only that, they shouldn't be called "line numbers" at all, since they're not. They do not correspond in any way to the lines in the JSON file.

[2021-05-18 15:40] jribbens opened #292 "json-viewer disables up, down, Home, and End keys"
The Home and End keys normally, of course, scroll to the top or the bottom of a web page, and the up and down arrow keys scroll the page up and down a bit. For some reason, json-viewer is intercepting these keys and preventing them from operating.

[2021-05-18 15:43] jribbens commented on #292
Also, space should go down a page...

[2021-05-19 11:45] jribbens commented on #289
Looks like #255 is related to this

[2021-05-19 11:47] jribbens opened #293 "Feature suggestion: display JSONPath"
It would be cool if json-viewer had an option to display the JSONPath of the element your mouse cursor is over.

[2021-05-19 11:49] jribbens opened #294 "Feature suggestion: way to find start of container"
It would be very useful if json-viewer had a way, when you are looking at the middle of a large array or object that spans many pages, to either collapse the array/object or to scroll to its beginning (perhaps a keypress or a click with modifier key).

[2021-05-19 11:54] jribbens opened #295 "No 'engines' in package.json"
`README.md` says "It depends on node (version in package.json engines)" but `package.json` does not in fact contain an `engines` specification.

[2021-05-27 11:07] jribbens opened #297 "Objects should show the number of keys"
When you have an object which is folded away, it should show the number of keys the object has, the way it does for arrays.

[2021-05-28 14:35] whlavina opened #298 "Add support for JSON Lines / NDJSON"
JSON Lines and NDJSON are file formats which have become common in many scenarios. The format is very similar to JSON: it's a sequence of multiple JSON content, each JSON object one per line.

Semantically, a JSON Lines / NDJSON file is an ARRAY of JSON.

Input in JSON Lines (*.jsonl) or NDJSON (*.ndjson) should render as hierarchical, collapsible, color-coded display.

The differences between JSO

[2021-05-28 15:31] whlavina commented on #298
I must have missed #277. I'll close this issue, since it's a dupe.

[2021-05-28 15:31] #298 closed

[2021-06-06 20:58] irisida commented on #281
Upvote.

[2021-06-20 11:56] jribbens opened #301 "json-viewer fails to parse JSON"
The following JSON file confuses json-viewer, which fails to parse it correctly:
[code]
It displays:
[code]
and anything else from that point in the file onwards fails to display correctly.

[2021-06-29 04:04] jsejcksn commented on #291
This seems like a reasonable idea. Like many ideas, the implementation is more complex than the description.

@jribbens As a starting point to help someone who might want to implement it: what is your definition of "small" (expressed in terms of code)?

[2021-07-08 01:34] zakiaziz opened #302 "Documentation on how to write themes?"
Hi, I'd like to work on porting over the GitHub default dark theme over to json-viewer. I'm able to overwrite styles by editing the "Custom Style" section in the options page, but I have to utilize a `!important` after every css element I overwrite. It seems hacky and I'm wondering if theres an established method for writing new theme file

[2021-08-17 02:30] platgloexp opened #304 "My Mac os on Chrome is out dated"
Hello,
My chrome on my old Macbook Processor  2.4 GHz Intel Core 2 DuoMac OS X Lion 10.7.5 (11G63) won't let me update anything or install new extensions. Let me know please if you can help?  https://updates.cdn-apple.com/2019/cert/041-88497-20191011-7c5dfb9c-fb81-4d22-afe6-230cd077c850/OSXUpdCombo10.11.6.dmg

[2021-08-17 14:23] #304 closed

[2021-08-30 10:31] saisuryakat commented on #160
When a url returns XML, this extension is causing the chrome's default xml viewer to not function
![image](https://user-images.githubusercontent.com/62474785/131326247-70246a5c-9a14-4257-8277-75a7de413a6a.png)
![image](https://user-images.githubusercontent.com/62474785/131326279-e90206db-baf1-41d5-804c-2194f68525d9.png)

[2021-09-04 14:32] stolenzc commented on #283
I Also hope this plugin can published to Microsoft Edge Addons Website. I used edge right now.

[2021-09-07 18:34] lsloan opened #305 "Display "Link" header values"
MAny APIs that I work that produce JSON output also include a "Link" header with values like…

[code]

That lets the API user know whether more data is available and how many pages are involved.

Rather than opening the developer tools to search for this information, I'd really appreciate it if json-viewer included that near the top of the page along with the comments for the request timestamp and

[2021-09-10 21:36] jesus2099 opened #306 "Indent with tabs option"
I would like an option to indent with tabs (1 tab per indentation level).

[2021-11-26 10:01] AlanBlanchet commented on #60
For me I installed the extension and nothing worked apart from on the example websites.

![image](https://user-images.githubusercontent.com/22567306/143562683-848168c8-a874-420a-af03-87c428c9b4e4.png)

On local filesystem files it doesn't work for some reason.

I don't have any other extensions that would make it break.

[2022-01-15 00:58] camsn0w opened #309 "Default max json size could be larger"
The default max json size could be bigger, will have to do profiling but I can get a factor of 10 larger without any noticable delay loading the viewer.

[2022-01-17 04:19] jacoblimzm commented on #301
it seems that a long string of special characters that may or may not be escaped with multiple backslashes confuses this plug-in and causes it to fail. I have encountered this problem with a particularly long regex pattern.

[code]

 what happens is that the arrow to collapse arrays and objects will all be placed in the wrong positions.

[2022-01-19 05:27] KoLuu2022 opened #311 "password.liquid"
<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.

[2022-01-19 05:30] KoLuu2022 opened #312 "index.liquid"
{
  "sections": {
    "image_banner": {
      "type": "image-banner",
      "blocks": {
        "heading": {
          "type": "heading",
          "settings": {
            "heading": "",
            "heading_size": "medium"
          }
        },
        "button": {
          "type": "buttons",
          "settings": {
            "button_label_1": "Free Shipping on orders over $ 25.",

[2022-01-19 05:32] KoLuu2022 opened #313 "index.jason"
{
"sections": {
"image_banner": {
"type": "image-banner",
"blocks": {
"heading": {
"type": "heading",
"settings": {
"heading": "",
"heading_size": "medium"
}
},
"button": {
"type": "buttons",
"settings": {
"button_label_1": "Free Shipping on orders over $ 25.",
"button_link_1": "",
"button_style_secondary_1": true,
"button_label_2": "",
"button_link_2": "",
"button_style_secondary_2": false
}
}
},

[2022-01-19 15:44] #311 closed

[2022-02-09 10:06] HaanJde opened #315 "Search for attribute to show the full path [Feature request] [enhancement]"
Would like to have the following:
From a collapsed view, searching for an attribute by name, result in showing only the full recursive path to it.

[2022-03-10 02:45] Leon99 commented on #59
@tulios did you have a chance to investigate if this can be done?

[2022-03-11 14:47] Nadia33Frolova opened #317 ""topicInfo.data.phase": "Themenblock hinzugefügt""

[2022-05-27 07:00] sebastiantf opened #322 "Support for `dataURI`"
Support for formatting `data:application/json` dataURIs would be a nice feature

[2022-07-30 17:43] Amanjot726 opened #323 "CodeMirror-foldgutter-open didn't work"
Clicking on foldgutter for folding or unfolding code didn't work , and neither CodeMirror-foldmarker works.

**Application:** Chrome Browser,
**Version:** 103.0.5060.134 (Official Build) (64-bit)
**Video Link for the issue:** https://drive.google.com/uc?id=1xXUAQ-9vuUMePQ1Pnltc6qlYF8ooVILZ

[2022-08-05 08:08] threetown opened #324 "JS precision lost"
input:
[code]

output:
[code]

How to fix this bug?

[2022-09-06 22:11] c-dante commented on #324
Not a bug -- js uses ieee doubles for all numbers. Use a string or big number to represent large integers.

[2022-09-08 14:04] BenjaminBeck commented on #60
I do not have that "Options" option.
I tried the Firefox solution which showed me a error message: "SyntaxError: JSON.parse..."
After fixing it, this plugin worked.

-> Suggestion: If Content-Type is application/json - show an error if JSON is invalid.

[2022-09-09 10:28] #198 closed

[2022-10-04 22:00] ackmanx commented on #266
Two years later search doesn't work for me, so many thanks for the suggestion to render all content!

[2022-10-12 11:33] squizzster opened #326 "This JSON does not display correctly in the browser. (CHROME)"
`{"_token":"8b3d532ec7b5bfb5479cf760d7885e36b72e5f534e6bb45598d67f20a99cbe528b31c6682bf7de30865e6ed303ce38b9f5140e5cb340cf48fafc7b30341bd7447ca9abfb3cc6341dfea49d7acdc47eac","active":"yes","client_id":0,"cors":"42cf4bc119f9aa596ca93309d65495c5","deleted":0,"email":"gbooking@g-booking.com","exceptions":null,"expires":0,"g_booking":"Life has no limitations, except the ones you make.","id":5035,"inte